
<div class="content-page ticket-review">
    <div class="content-container text-center">
        <div class="content-header va-middle">
            <div class="content-background" ></div>
            <h1 class="align-middle">
                Fighting a ticket can be intimidating.
                <br>
                <span class="emphasized">We can help.</span>
            </h1>
        </div>

        <div class="content-body">
            <div class="h1 emphasized">
                Not sure whether you should fight your ticket?
            </div>
            <div class="h1">
                Fill out the form below to request a free review!

                We'll go over your ticket and explain your
                options, so you'll know whether it
                makes sense to fight the ticket or simply pay the fine.
            </div>

            <div class="ready-to-fight">
                <div>Ready to fight? Get matched to an attorney in under a minute.</div>
                <a class="get-started-button" ng-href="{{mobileAppUrl}}">Get Started</a>
            </div>

            <div class="review-form">
                <form name="ticketReviewRequestForm" id="ticketReviewRequestForm" role="form" novalidate
                      ng-submit="vm.submitReviewRequest(ticketReviewRequestForm.$valid)">
                    <input type="text" name="exitPopupName" ng-model="vm.exitPopupName" placeholder="Your name" tabindex="1" required
                           ng-class="{ 'has-error' : ticketReviewRequestForm.exitPopupName.$invalid && vm.ticketReviewRequestFormSubmitted }" />
                    <input type="text" name="exitPopupContactInfo" ng-model="vm.exitPopupContactInfo"
                           placeholder="Your phone number or email"
                           tabindex="2" required
                           ng-class="{ 'has-error' : ticketReviewRequestForm.exitPopupContactInfo.$invalid && vm.ticketReviewRequestFormSubmitted }" />
                    
                    <div class="has-ticket" ng-show="vm.isUploadSupported()">
                        <input type="checkbox" ng-click="vm.hasTicket = !vm.hasTicket" />
                        <span>Attach a photo of my ticket</span>
                    </div>
                    <input id="file" type="file" accept="image/*" ng-show="vm.hasTicket">
                    <div class="image-preview-container" ng-show="vm.hasTicket && citation && citation.ticketImageUrl">
                        <div class="citation-image-container">
                            <img id="citation-image" />
                        </div>
                    </div>
                    <button type="submit" name="ticket-review-submit-btn" tabindex="3"
                            ng-disabled="vm.submitReviewRequestLoading == true" ng-hide="vm.reviewRequested">
                        <span>Request a Free Ticket Review &nbsp;</span>
                        <i ng-show="vm.submitReviewRequestLoading" class="fa fa-spinner fa-spin fa-lg"></i>
                    </button>
                </form>
            </div>
            <div class="review-form" ng-show="vm.reviewRequested">
                <div class="thankyou-text">Thank you. We'll be in touch with you shortly!</div>
                <br>

                <a class="fight-my-ticket" ng-href="{{mobileAppUrl}}">Fight My Ticket</a>
            </div>
        </div>

    </div>
</div>