.admin-bar .navbar-fixed-top {
    top: 32px;
}
.bg-primary {
    background: #1976d2;
    color: #fff;
}
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-primary p,
.bg-primary a {
    color: #fff;
}
.bg-primary .btn-default {
    color: #fff;
    border-color: #fff;
    background: none;
}
.bg-primary .btn-default:hover {
    background: #fff;
    color: #1976d2;
}
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget,
.woocommerce-page ul.cart_list,
.woocommerce-page ul.product_list_widget,
.woocommerce .products ul,
.woocommerce ul.products,
.woocommerce-page .products ul,
.woocommerce-page ul.products {
    margin: 0 -15px 15px -15px;
    clear: both;
    min-width: 100%;
    float: left;
    text-align: center;
}
.woocommerce ul.cart_list:after,
.woocommerce ul.product_list_widget:after,
.woocommerce-page ul.cart_list:after,
.woocommerce-page ul.product_list_widget:after,
.woocommerce .products ul:after,
.woocommerce ul.products:after,
.woocommerce-page .products ul:after,
.woocommerce-page ul.products:after {
    content: '';
    display: table;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li,
.woocommerce .products ul li,
.woocommerce ul.products li,
.woocommerce-page .products ul li,
.woocommerce-page ul.products li {
    padding: 0 15px;
    margin: 0;
    margin-bottom: 30px;
    border: none;
    display: inline-block;
    float: none;
}
.woocommerce ul.cart_list li .product-wrap,
.woocommerce ul.product_list_widget li .product-wrap,
.woocommerce-page ul.cart_list li .product-wrap,
.woocommerce-page ul.product_list_widget li .product-wrap,
.woocommerce .products ul li .product-wrap,
.woocommerce ul.products li .product-wrap,
.woocommerce-page .products ul li .product-wrap,
.woocommerce-page ul.products li .product-wrap {
    border: solid 1px #ccc;
    padding: 5px 5px 20px 5px;
    border-radius: 5px;
    background: #eee;
}
.woocommerce ul.cart_list li .product-wrap .product-link,
.woocommerce ul.product_list_widget li .product-wrap .product-link,
.woocommerce-page ul.cart_list li .product-wrap .product-link,
.woocommerce-page ul.product_list_widget li .product-wrap .product-link,
.woocommerce .products ul li .product-wrap .product-link,
.woocommerce ul.products li .product-wrap .product-link,
.woocommerce-page .products ul li .product-wrap .product-link,
.woocommerce-page ul.products li .product-wrap .product-link {
    display: block;
}
.woocommerce ul.cart_list li .product-wrap img,
.woocommerce ul.product_list_widget li .product-wrap img,
.woocommerce-page ul.cart_list li .product-wrap img,
.woocommerce-page ul.product_list_widget li .product-wrap img,
.woocommerce .products ul li .product-wrap img,
.woocommerce ul.products li .product-wrap img,
.woocommerce-page .products ul li .product-wrap img,
.woocommerce-page ul.products li .product-wrap img {
    box-shadow: none;
    width: 100%;
}
.woocommerce ul.cart_list li .product-wrap h3,
.woocommerce ul.product_list_widget li .product-wrap h3,
.woocommerce-page ul.cart_list li .product-wrap h3,
.woocommerce-page ul.product_list_widget li .product-wrap h3,
.woocommerce .products ul li .product-wrap h3,
.woocommerce ul.products li .product-wrap h3,
.woocommerce-page .products ul li .product-wrap h3,
.woocommerce-page ul.products li .product-wrap h3 {
    clear: both;
    padding: 20px 0 5px 0;
    font-size: 24px;
    margin: 0;
}
.woocommerce ul.cart_list li .product-wrap .product-img-wrap,
.woocommerce ul.product_list_widget li .product-wrap .product-img-wrap,
.woocommerce-page ul.cart_list li .product-wrap .product-img-wrap,
.woocommerce-page ul.product_list_widget li .product-wrap .product-img-wrap,
.woocommerce .products ul li .product-wrap .product-img-wrap,
.woocommerce ul.products li .product-wrap .product-img-wrap,
.woocommerce-page .products ul li .product-wrap .product-img-wrap,
.woocommerce-page ul.products li .product-wrap .product-img-wrap {
    clear: both;
}
.woocommerce ul.cart_list li .product-wrap p,
.woocommerce ul.product_list_widget li .product-wrap p,
.woocommerce-page ul.cart_list li .product-wrap p,
.woocommerce-page ul.product_list_widget li .product-wrap p,
.woocommerce .products ul li .product-wrap p,
.woocommerce ul.products li .product-wrap p,
.woocommerce-page .products ul li .product-wrap p,
.woocommerce-page ul.products li .product-wrap p {
    margin-bottom: 20px;
}
.woocommerce .products ul li,
.woocommerce ul.products li,
.woocommerce-page .products ul li,
.woocommerce-page ul.products li {
    float: left;
}
.quantity,
.product-quantity,
.price {
    display: none;
}
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    background: #fff;
    color: #1976d2;
    border: solid 1px #1976d2;
    box-shadow: none;
    text-shadow: none;
    font-weight: normal;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce #content input.button.alt:focus,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus,
.woocommerce-page #content input.button.alt:focus,
.woocommerce-page #respond input#submit.alt:focus,
.woocommerce-page a.button.alt:focus,
.woocommerce-page button.button.alt:focus,
.woocommerce-page input.button.alt:focus,
.woocommerce #content input.button.alt:active,
.woocommerce #respond input#submit.alt:active,
.woocommerce a.button.alt:active,
.woocommerce button.button.alt:active,
.woocommerce input.button.alt:active,
.woocommerce-page #content input.button.alt:active,
.woocommerce-page #respond input#submit.alt:active,
.woocommerce-page a.button.alt:active,
.woocommerce-page button.button.alt:active,
.woocommerce-page input.button.alt:active {
    background: #1976d2;
    border-color: #1669bb;
    color: #fff;
    text-shadow: none;
}
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
    margin: -5px;
}
.btn.btn-white,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
    background: #fff;
    color: #6b6b6b;
    border: solid 1px #ccc;
    box-shadow: none;
    text-shadow: none;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 14px;
    display: inline-block;
    font-weight: normal;
}
.btn.btn-white:hover,
.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce-page .woocommerce-error .button:hover,
.woocommerce-page .woocommerce-info .button:hover,
.woocommerce-page .woocommerce-message .button:hover,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.btn.btn-white:focus,
.woocommerce .woocommerce-error .button:focus,
.woocommerce .woocommerce-info .button:focus,
.woocommerce .woocommerce-message .button:focus,
.woocommerce-page .woocommerce-error .button:focus,
.woocommerce-page .woocommerce-info .button:focus,
.woocommerce-page .woocommerce-message .button:focus,
.woocommerce #content input.button:focus,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus,
.woocommerce-page #content input.button:focus,
.woocommerce-page #respond input#submit:focus,
.woocommerce-page a.button:focus,
.woocommerce-page button.button:focus,
.woocommerce-page input.button:focus,
.btn.btn-white:active,
.woocommerce .woocommerce-error .button:active,
.woocommerce .woocommerce-info .button:active,
.woocommerce .woocommerce-message .button:active,
.woocommerce-page .woocommerce-error .button:active,
.woocommerce-page .woocommerce-info .button:active,
.woocommerce-page .woocommerce-message .button:active,
.woocommerce #content input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce-page #content input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active {
    background: #f4f4f4;
    border-color: #ccc;
    color: #6b6b6b;
    text-shadow: none;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce-page ul.cart_list li a,
.woocommerce-page ul.product_list_widget li a {
    display: inline-block;
    font-weight: normal;
}
.woocommerce.woocommerce-page .content-area.col-sm-12.col-md-8 {
    width: 100%;
}
.woocommerce #content div.product form.cart,
.woocommerce div.product form.cart,
.woocommerce-page #content div.product form.cart,
.woocommerce-page div.product form.cart {
    float: left;
    margin-right: 5px;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
    background: none;
    box-shadow: none;
    border: solid 2px #8fae1b;
    background: #fff;
}
.woocommerce .woocommerce-info {
    border-color: #1e85be;
}
.woocommerce .woocommerce-error {
    border-color: #b81c23;
}
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:before {
    height: 2.5em;
}
.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
    width: 100px;
}
.woocommerce .order_details,
.woocommerce-page .order_details {
    border: dashed 1px #eee;
    padding: 0;
}
.woocommerce .order_details li,
.woocommerce-page .order_details li {
    padding: 10px;
}
.home-widget {
    padding: 20px 0;
}
.home-widget-2 .textwidget {
    padding-bottom: 20px;
}
.bg-light {
    background: #f4f4f4;
}
.padder-v {
    clear: both;
}
/**********************/