<!DOCTYPE html>
<html lang="en-US" ng-app="brochure">

<head>
    <base href="/">
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
          content="Most effective way to fight your traffic ticket. Top lawyers.
                   Low flat fee. 93% success rate. Full money back if we don't
                   win your case.">

    <link rel="canonical" href="//offtherecord.com/" />

	<title>Off the Record - Fight your traffic ticket!</title>

	<!--
	 	SEO: Twitter Mobile App Card. We can add the android app once it's complete here.
	-->
	<meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@OffTheRecordApp">
	<meta name="twitter:description" content="Off the Record saves you money in insurance by keeping traffic tickets off your driving record. A full refund will be issued if we lose! No mailing your ticket in. No showing up in court.">
	<meta name="twitter:app:country" content="US">
	<meta name="twitter:app:name:iphone" content="Off the Record - Fight your traffic ticket">
	<meta name="twitter:app:id:iphone" content="1032930471">
	<meta name="twitter:app:name:ipad" content="Off the Record - Fight your traffic ticket">
	<meta name="twitter:app:id:ipad" content="1032930471">

	<!-- SEO: Meta keywords. Bing search engine still uses this. -->
	<meta name="keywords"
		  content="lawyer, attorney, speeding, citation, insurance, violation, driving, license, contest, fine, police, court, legal, refund">

	<!-- FB Pixel to track page visits -->
	<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
				document,'script','//connect.facebook.net/en_US/fbevents.js');

		fbq('init', '169269843443494');
		fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
				   src="https://www.facebook.com/tr?id=169269843443494&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->

	<!-- favicon -->
    <link rel="icon" href="assets/img/favicon/favicon.ico">
	<!--[if IE]><link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" /><![endif]-->

	<link rel="stylesheet" id="dazzling-bootstrap-css" href="assets/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="dazzling-style-css" href="assets/css/dazzling-child/dazzling-child-style.css" type="text/css" media="all">
	<link rel="stylesheet" id="A2A_SHARE_SAVE-css" href="assets/css/addtoany.min.css" type="text/css" media="all">

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet" type="text/css">

	<link rel="stylesheet" id='site.css' href="assets/css/site.css" type="text/css">
	<link rel="stylesheet" href="assets/css/woocommerce.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/css/otr-brochure.css">

    <!-- Site name to appear in search results -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "WebSite",
      "name" : "Off the Record",
      "alternateName" : "Off the Record - The smart way to fight your traffic ticket!",
      "url" : "http://offtherecord.com"
    }
    </script>

    <!-- tell search engines about the log -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://offtherecord.com",
      "logo": "http://offtherecord.com/assets/img/logo.png"
    }
    </script>

    <!-- tell search engines about contact info -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "http://offtherecord.com",
      "contactPoint" : [
        { "@type" : "ContactPoint",
          "telephone" : "+1-844-687-2946",
          "contactType" : "Customer Service"
        } ] }
    </script>

    <!-- Social profiles -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Off the Record",
      "url" : "http://offtherecord.com",
      "sameAs" : [ "https://www.facebook.com/keepitofftherecord",
        "https://twitter.com/OffTheRecordApp"]
    }
    </script>



    <!-- Initialize branch.io and add smart banner -->
    <script type="text/javascript">
        (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-v2.0.0.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setIdentity track validateCode".split(" "), 0);

        branch.init('key_live_oik1hC6SvaFGaQl6L4f5chghyqkDbk9G', function(err, data) {
            console.log('branch.init error: ', err);
            console.log('branch.init data: ', data);
        });

        branch.banner({
            icon: 'https://s3.amazonaws.com/otr-assets/img/favicon/favicon.ico',
            title: 'Off the Record - Fight your traffic ticket',
            description: 'The smart, easy way to fight your traffic ticket',
            openAppButtonText: 'Open',              // Text to show on button if the user has the app installed
            downloadAppButtonText: 'Download',      // Text to show on button if the user does not have the app installed
            sendLinkText: 'Send Link',              // Text to show on desktop button to allow users to text themselves the app
            phonePreviewText: '(999) 999-9999',      // The default phone placeholder is a US format number, localize the placeholder number with a custom placeholder with this option
            showiOS: true,                          // Should the banner be shown on iOS devices?
            showAndroid: false,                      // Should the banner be shown on Android devices?
            showDesktop: false,                      // Should the banner be shown on desktop devices?
            iframe: true,                           // Show banner in an iframe, recomended to isolate Branch banner CSS
            disableHide: false,                     // Should the user have the ability to hide the banner? (show's X on left side)
            forgetHide: true,                          // Should we show the banner after the user closes it? Can be set to true, or an integer to show again after X days
            position: 'top',                        // Sets the position of the banner, options are: 'top' or 'bottom', and the default is 'top'
            mobileSticky: false,                    // Determines whether the mobile banner will be set `position: fixed;` (sticky) or `position: absolute;`, defaults to false *this property only applies when the banner position is 'top'
            desktopSticky: true,                    // Determines whether the desktop banner will be set `position: fixed;` (sticky) or `position: absolute;`, defaults to true *this property only applies when the banner position is 'top'
            make_new_link: false,                   // Should the banner create a new link, even if a link already exists?
            rating: 5,                              // Number of stars (should be your store rating)
            reviewCount: 10,                        // Number of reviews that generate the rating (should be your store reviews)
            theme: 'light'                         // Uses Branch's predetermined color scheme for the banner { 'light' || 'dark' }, default: 'light'
        },
        {
            tags: ['some-random-tag', 'other-random-tag'],
            campaign: 'Marketing Website',
            stage: 'Home Page',
            feature: 'smart_banner',
            data: {
                '$deeplink_path': 'content/page/12354',
                deeplink: 'data',
                username: 'Alex'
            }
        });
    </script>

</head>

<body class="home page page-id-8 page-template-default" style="zoom: 1;" ng-controller="BrochureCtrl as vm">
	<div id="page" class="hfeed site">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container" style="width: 96%">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="background-color: #666666; margin-top:13px;">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
			
					<div id="logo">
						<span class="site-name">
							<a class="navbar-brand" href="/#/" title="Off the Record" rel="home" style="margin-top:-4px">
                                <img src="assets/img/OTR-icon.png" width="43" height="36"
                                     style="float:left;float: left;margin-top: 15px;margin-right: 12px;opacity: 0.8" />
								<img src="assets/img/otr-logo-V2.gif" width="200" height="21.5" class="logo"
                                     title="Off the Record" style="margin-top:16px;opacity:0.9"
									 alt="App that lets drivers fight their traffic tickets and speeding tickets with ease" />
							</a>
						</span>
					</div>
				
		        </div>
				<div ng-class="{ 'collapse navbar-collapse navbar-ex1-collapse': isMobile }">
					<ul id="menu-main-menu" class="nav navbar-nav navbar-right">
						<li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll active">
							<a title="Home" href="/#/">Home</a>
						</li> 
						<li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll">
							<a title="How it works" href="/#/#howitworks">How it works</a>
						</li>
						<li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll">
							<a title="Features" href="/#/#features">Features</a>
						</li>
						<li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll">
							<a title="Sign up" href="/#/#signup" ng-click="trackFBButtonConversion('SignUp', 'MenuBar')">Sign up</a>
						</li>
					</ul>
				</div>		    
			</div>
		</nav><!-- .site-navigation -->

        <ng-view></ng-view>

		<footer id="footer" class="clearfix">
            <div id="footer-widgets">
				<div class="container">
					<div id="footer-wrapper">

						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div id="nav_menu-2" class="widget widgetFooter widget_nav_menu">
									<h4 class="widgettitle">Links</h4>
									<div class="menu-footer-menu-container">
										<ul id="menu-footer-menu" class="menu">
											<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62">
											<a href="http://blog.offtherecord.com">Blog</a></li>
											<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
											<a href="mailto:team@offtherecord.com">Contact Us</a></li>
											<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60">
											<a href="terms.html">Terms and Conditions</a></li>
											<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
											<a href="privacy.html">Privacy Policy</a></li>
										</ul>
									</div>
								</div>            
							</div> <!-- end widget1 -->

							<div class="col-sm-6 col-md-6">
								<div id="text-4" class="widget widgetFooter widget_text">
									<h4 class="widgettitle">Off the Record</h4>			
									<div class="textwidget">Off the Record lets you contest your traffic ticket directly from your smart phone. All it takes is a minute. Don't let one mistake tarnish your driving record.</div>
								</div> 
								<div id="subscriber-signup">
									<form name="subscribeForm" role="form" novalidate="" ng-submit="vm.submitSubscribeForm(subscribeForm.$valid)" id="footer-subscribe-form" 
									 class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
										<div id="mc_embed_signup_scroll">
											<h2 class="notification-title">Get notified when we launch in your area</h2>
											<div class="row">
												<div class="mc-field-group col-sm-10">
													<div class="input-group">
														<input style="width:70%;" name="EMAIL" value="" type="email" class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" placeholder="Email address" aria-required="true" 
															ng-class="{ 'has-error' : subscribeForm.EMAIL.$invalid && vm.subscribeFormSubmitted == true }" ng-model="vm.subscribeForm_email" required="">
														
														<input style="width:30%;" name="ZIP" value="" type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="Zip"  
															ng-class="{ 'has-error' : subscribeForm.ZIP.$invalid && vm.subscribeFormSubmitted == true }" ng-model="vm.subscribeForm_zip" required="">						
													
														<span class="input-group-btn">
															<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-default" 
															ng-style="{ 'enabled' : vm.subscribeFormDataLoading }">
														</span>
													</div>
													
													<div class="alert alert-success ng-hide" ng-show="vm.subscribeFormResponseReceived && vm.subscribeFormSuccess">
														Thank you! We've received your info.
													</div>
													<div class="alert alert-danger ng-hide" ng-show="vm.subscribeFormResponseReceived && vm.subscribeFormSuccess == false">
														{{vm.subscribeErrorMsg}}
													</div>
													
													<span ng-show="subscribeForm.EMAIL.$invalid && !subscribeForm.ZIP.$invalid && vm.subscribeFormSubmitted" class="help-block ng-hide">Please enter a valid email</span>
													<span ng-show="subscribeForm.ZIP.$invalid && !subscribeForm.EMAIL.$invalid && vm.subscribeFormSubmitted" class="help-block ng-hide">Please enter a zip code</span>				
													<span ng-show="subscribeForm.EMAIL.$invalid && subscribeForm.ZIP.$invalid && vm.subscribeFormSubmitted" class="help-block ng-hide">Please enter your email & zip code</span>
													<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
													<div style="position: absolute; left: -5000px;"><input type="text" name="b_1255321b94080746030fac796_df0a5ad793" tabindex="-1" value=""></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div> <!-- end widget1 -->

							<div class="col-sm-6 col-md-3">
								<div id="recent-posts-2" class="widget widgetFooter widget_recent_entries">		
									<h4 class="widgettitle">Learn more</h4>		
									<ul>
										<li>
											<a href="//offtherecord.com/about.html">About Off the Record</a>
										</li>
										<li>
											<a href="//offtherecord.com/faq.html">Help & FAQs</a>
										</li>
										<li>
											<a href="//facebook.com/keepitofftherecord">
												<i class="fa fa-facebook"></i>
											</a>
											<a href="//twitter.com/OffTheRecordApp">
												<i class="fa fa-twitter"></i>
											</a> 
											<a href="http://blog.offtherecord.com">
												<i class="fa fa-tumblr"></i>
											</a>
										</li>
									</ul>
								</div>            
							</div> <!-- end widget1 -->

						</div> <!-- end .row -->

					</div> <!-- end #footer-wrapper -->

				</div> <!-- end .container -->
			</div> <!-- end #footer-widgets -->
            <div id="sub-floor">
				<div class="container">
					<div class="row">
						<div class="col-md-4 copyright">
							© 2015 Off the Record, Inc.   
							<div class="legal-disclaimer">Off the Record is not a law firm, it's a service that matches traffic tickets with experienced traffic attorneys. Communication with Off the Record does not constitute legal advice.</div>
						</div>
					</div> <!-- end .row -->
				</div>
			</div>

		</footer>
	
	</div>

    <!-- #page -->

    <!-- jQuery -->
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Angular Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
	<!-- to handle Retina displays -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-retina/0.3.1/angular-retina.min.js"></script>

	<!-- Plugin JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="js/freelancer.js"></script>
	
    <!-- OTR APP DEPENDENCIES -->
    <script src="app/app.js"></script>
    <script src="app/app-config/config.js"></script>
    <script src="app/brochure.ctrl.js"></script>

    <!-- lawyer form modal -->
    <script type="text/ng-template" id="lawyerInfoRequest.html">

        <div class="modal-header" ng-hide="lawyerFormCtrl.lawyerLeadFormSuccess == true">
            <p class="signup-text">Tell us a little bit about yourself and we'll send you more info</p>
        </div>
        <div class="modal-header" ng-show="lawyerFormCtrl.lawyerLeadFormSuccess == true">
            <p class="signup-text">
                <p><strong>Thank you {{ lawyerFormCtrl.request.firstname }}!</strong></p>
                <p>We'll be in contact with you shortly.</p>
            </p>
        </div>
        <form name="lawyerLeadForm" role="form" novalidate
                class="lawyer-lead-form">
            <div class="modal-body" ng-show="lawyerFormCtrl.lawyerLeadFormSuccess !== true">
                    <div class="form-group"
                         ng-class="{ 'has-error' : lawyerLeadForm.firstname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                        <input type="text" name="firstname" ng-model="lawyerFormCtrl.request.firstname"
                               class="form-control" required placeholder="First Name">
                        <!--<span ng-show="lawyerLeadForm.firstname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your first name</span>-->
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : lawyerLeadForm.lastname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                        <input type="text" name="lastname" ng-model="lawyerFormCtrl.request.lastname"
                               class="form-control" required placeholder="Last Name">
                        <!--<span ng-show="lawyerLeadForm.lastname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your last name</span>-->
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : lawyerLeadForm.email.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                        <input type="email" name="email" ng-model="lawyerFormCtrl.request.email"
                               class="form-control" required placeholder="Email Address">
                        <!--<span ng-show="lawyerLeadForm.email.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter a valid email address</span>-->
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : lawyerLeadForm.city.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                        <input type="text" name="city" ng-model="lawyerFormCtrl.request.city"
                               class="form-control" required placeholder="City">
                        <!--<span ng-show="lawyerLeadForm.city.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your city</span>-->
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : lawyerLeadForm.state.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                        <input type="text" name="state" ng-model="lawyerFormCtrl.request.state"
                               class="form-control" required placeholder="State">
                        <!--<span ng-show="lawyerLeadForm.state.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your state</span>-->
                    </div>
                    <div class="form-group">
                        <input type="text" name="website" ng-model="lawyerFormCtrl.request.website" class="form-control" placeholder="Website">
                    </div>
            </div>
            <!--<div class="modal-footer" ng-hide="lawyerFormCtrl.lawyerLeadFormSubmitted == false && lawyerFormCtrl.lawyerLeadFormSuccess == true">-->
            <div class="modal-footer" ng-hide="lawyerFormCtrl.lawyerLeadFormSuccess == true">
                <div class="text-danger pull-left"
                     ng-show="lawyerFormCtrl.lawyerLeadFormSubmitted == true && lawyerFormCtrl.lawyerLeadFormSuccess == false">
                    Unable to submit form. Please email us.
                </div>
                <button class="btn btn-warning" ng-click="lawyerFormCtrl.cancel()">Cancel</button>
                <button type="submit" class="btn btn-default" ng-click="lawyerFormCtrl.ok(lawyerLeadForm.$valid)">
                    <span class="lawyerSubmitBtn" ng-hide="lawyerFormCtrl.dataLoading">Get Early Access</span>
                    <i class="fa fa-spinner fa-pulse fa-lg" ng-show="lawyerFormCtrl.dataLoading"></i>
                </button>
            </div>
            <div class="modal-footer" ng-show="lawyerFormCtrl.lawyerLeadFormSuccess == true">
                <div class="text-danger pull-left"></div>
                <button class="btn btn-warning" ng-click="lawyerFormCtrl.cancel()">Close</button>
            </div>
        </form>
    </script>
	
</body>
</html>