
<script type="text/ng-template" id="/my-custom-template.html">
    <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
        <span class="input-icon input-icon-right">
              <input ng-model="searchStr"
                     ng-disabled="disableInput"
                     type="text"
                     placeholder="{{placeholder}}"
                     ng-focus="onFocusHandler()"
                     class="{{inputClass}}"
                     ng-focus="resetHideResults()"
                     ng-blur="hideResults($event)"
                     autocapitalize="off"
                     autocorrect="off"
                     autocomplete="off"
                     ng-change="inputChangeHandler(searchStr)"/>


             <!-- ng templates have  their own sub scope -->
             <i ng-show="$parent.vm.isCourtSearchLoading" class="fa fa-spin fa-spinner fa-lg padding-right-5"></i>

        </span>

        <div class="otr-angucomplete-dropdown" ng-show="showDropdown">
            <!--<div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>-->
            <!--<div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>-->
            <div class="otr-angucomplete-row" ng-repeat="result in results"
                 ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)"
                 ng-class="{'otr-angucomplete-selected-row': $index == currentIndex}">
                <div ng-if="imageField" class="angucomplete-image-holder">
                    <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
                    <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
                </div>
                <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
                <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
                <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
                <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
            </div>
            <div class="otr-angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'otr-angucomplete-selected-row': results.length == currentIndex}">
                <div class="angucomplete-title">'{{ searchStr }}'</div>
            </div>
        </div>
    </div>
</script>

<div class="step container">
    <div class="step-body row">
        <div class="meta col-xs-12 col-md-8">
            <div class="title">
                Tell us the assigned court
            </div>
            <div class="subtitle">
                Your ticket should mention which court it is assigned to.
                If you're not sure, type the name of the city or county in which you received the ticket
                and pick the court you think best matches.
                We'll verify all the info on our end.
            </div>
            <div class="space-top-5">
                <div class="row space-top-5 row-space-1">
                    <div class="col-8">
                        <div class="row row-condensed">


                        </div>
                    </div>
                </div>
            </div>
            <div class="space-top-3">

                <div class="col-8">
                    <!--<b>Selected Court:</b> {{ vm.selectedCourt }}<br>-->
                    <!--<b>Court:</b> {{ vm.selectedCourt.originalObject }}-->

                    <angucomplete-alt template-url="/my-custom-template.html"
                                      id="courts"
                                      placeholder="Assigned court (e.g. Seattle Municipal Court)"
                                      pause="200"
                                      selected-object="vm.session.model.selectedCourt"
                                      remote-api-handler="vm.findMatchingCourts"
                                      remote-url-response-formatter="vm.formatMatchingCourtsResponse"
                                      remote-url-data-field="courts"
                                      title-field="courtName"
                                      description-field="customDescription"
                                      input-class=""
                                      minlength="2"
                                      auto-match="true"
                                      text-no-results="No courts found"
                                      text-searching="Searching courts..."/>
                    <!--remote-url="https://otr-backend-service-us-devo.offtherecord.com/api/v1/courts/traffic/"-->
                </div>
                <div class="space-top-5 btn-invite-friends">
                    <div class="row space-top-5 row-space-1">
                        <div class="col-8">
                            <div class="row row-condensed">
                                <div class="col-md-12 text-center">
                                    <div class="space-top-2 form-error-message" ng-show="vm.isCourtFormInError()">
                                        Please specify which court your ticket is assigned to
                                    </div>
                                    <br>
                                    <button type="submit" tabindex="4"
                                            class="btn btn-primary btn-large"
                                            ng-click="vm.submitCourtStep()"
                                            ng-disabled="!vm.session.model.selectedCourt || vm.isCourtFormInError()">
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The court location image -->
        <div class="pin justify-center col-xs-12 col-md-4">
            <img src="assets/img/court-location.gif" class="" style="max-width: 300px; max-height: 300px;">
        </div>

    </div>
</div>

