<div class="row row-centered">
    <div class="step col-xs-11 col-sm-10 col-md-8 col-lg-7">
        <div class="step-body">
            <div class="meta row" ng-show="!vm.isNoLawfirmAvailable ">

                <form name="ticketInfoForm" class="space-top-5">

                    <!-- Number of violations -->
                    <div class="row space-top-5">
                        <div class="col-xs-12 col-md-7">
                            <div class="row row-condensed">
                                <div class="col-xs-12 col-md-6 text-md-right text-sm-center">
                                    <label>
                                        Number of violations on your ticket
                                    </label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <h-number value="vm.session.model.citation.violationCount"
                                              min="1"
                                              max="10"
                                              step="1"
                                              style="text-align:center;"
                                              change="onChanged()"
                                              singular="violation"
                                              plural="violations"></h-number>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 text-md-left text-sm-center">
                            <label>
                                <div class="note">These are things like speeding, improper lane change, driving without a
                                    license,
                                    etc.</div>
                            </label>
                        </div>
                    </div>

                    <!-- Fine amount -->
                    <div class="row space-top-5">
                        <div class="col-xs-12 col-md-7">
                            <div class="row row-condensed">
                                <div class="col-xs-12 col-md-6 text-md-right text-sm-center">
                                    <label>Fine amount</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text"
                                               fcsa-number="{ min: 0, maxDecimals: 2 }"
                                               ng-model="vm.tempFineAmount"
                                               ng-change="vm.fineAmountUpdated()"
                                               class="form-control"
                                               placeholder="Fine Amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 text-md-left text-sm-center">
                            <label>
                                <div class="note">Optional</div>
                            </label>
                        </div>
                    </div>

                    <!-- Accident Involved -->
                    <div class="row space-top-5">
                        <div class="col-xs-12 col-md-7">
                            <div class="row row-condensed">
                                <div class="col-xs-12 col-md-6 text-md-right text-sm-center">
                                    <label>Was there an accident involved?</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" name="radioBtnInvolvesAccident" ng-value=1
                                                   ng-model="vm.session.model.citation.involvesAccident">
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="radioBtnInvolvesAccident" ng-value=0 checked
                                                   ng-model="vm.session.model.citation.involvesAccident">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="row space-top-5">
                        <div class="col-xs-12 col-md-7">
                            <div class="row row-condensed">
                                <div class="col-xs-12 col-md-6 text-md-right text-sm-center">
                                    <label>Email address</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="input-group" style="width: 100%">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="email"
                                               ng-model="vm.session.model.email"
                                               class="form-control"
                                               placeholder="Email address"
                                               required>
                                    </div>
                                    <div class="has-error" ng-show="ticketInfoForm.input.$error.required">
                                        Please provide your email address!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 text-md-left text-sm-center">
                            <label>
                                <div class="note">We'll need a way contact you when there are updates on your case.</div>
                            </label>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Button -->
            <div class="space-top-5 row row-centered">
                <div class="col-xs-10 col-sm-8">
                    <div tabindex="4" class="btn btn-default" ng-click="vm.submitTicketInfoStep()"
                         ng-disabled="vm.session.model.email != null">
                        <span>Continue</span>
                        <i class="fa fa-spinner fa-spin fa-lg" ng-show="vm.dataLoading"></i>
                    </div>
                    <div class="space-top-2 form-error-message" ng-show="vm.errorMessage">
                        <p class="bg-danger">
                            {{vm.errorMessage}}
                        </p>
                    </div>

                </div>
            </div>

            <!-- no lawfirm available page -->
            <div class="meta row" ng-show="vm.isNoLawfirmAvailable">
                <h1 class="show-lg text-left">
                    Sorry, we have no lawyers available for <i>{{vm.session.model.selectedCourt.originalObject.customDescription}}</i>
                </h1>
                <div class="text-left">
                    We are working on expanding our coverage across the country. If you would still like to contest this ticket through
                    Off the Record, then please click the "Attempt to find me a lawyer" button, and we'll get back to you within 1-5 days
                    with an <b>exact price</b>
                </div>

                <div class="row space-top-5 row-space-2 col-7">
                    <div>
                        <div>
                            <input type="checkbox"
                                   ng-init="vm.isFindMeLawyerChecked = false"
                                   ng-click="vm.isFindMeLawyerChecked = !vm.isFindMeLawyerChecked"
                                   ng-disabled="vm.dataLoading == true">
                            <span>Attempt to find me a lawyer &nbsp;</span>
                            <i class="fa fa-spinner fa-spin fa-lg" ng-show="vm.dataLoading"></i>
                            </input>
                        </div>
                    </div>
                </div>

                <div ng-show="vm.isFindMeLawyerChecked">
                    <div class="row space-top-2 row-space-1 col-7">
                        <div class="col-md-6 text-md-right text-sm-center">
                            <label>How much are you willing to pay for the attorney?</label>
                        </div>
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">$</span>
                            <input type="text"
                                   fcsa-number="{ min: 0, maxDecimals: 2 }"
                                   ng-model="vm.offerPrice"
                                   class="form-control"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="row space-top-2 row-space-1 col-7">
                        <div class="col-md-6 text-md-right text-sm-center">
                            <label>What's a good phone number to reach you?</label>
                        </div>
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">#</span>
                            <input type="text"
                                   ng-model="vm.phoneNumber"
                                   class="form-control"
                                   placeholder="555-555-5555">
                        </div>
                    </div>

                    <div class="row space-top-2 row-space-5 col-7">
                        <div>
                            <button type="submit"
                                    class="btn btn-primary btn-lg"
                                    ng-click="vm.submitFindMeLawyerInfo()"
                                    ng-disabled="vm.isRequestForLawyerLoading == true">
                                <span>Submit &nbsp;</span>
                                <i class="fa fa-spinner fa-spin fa-lg" ng-show="vm.isRequestForLawyerLoading"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row space-top-2 row-space-5 col-7" ng-show="!vm.isFindMeLawyerChecked">
                    <button type="submit" tabindex="4"
                            class="btn btn-outline btn-lg"
                            ng-click="vm.cancelNoLawyers()"
                            ng-disabled="vm.dataLoading == true">
                        <span>No thanks, return home &nbsp;</span>
                        <i class="fa fa-spinner fa-spin fa-lg" ng-show="vm.dataLoading"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>