// Font variables
$roboto: "Roboto";
$raleway: "Raleway", sans-serif;
$oswald: "Oswald", sans-serif;
$openSans: "Open Sans", sans-serif;
$arial: "Arial", sans-serif;
$helvetica: "Helvetica",Helvetica,Arial,sans-serif;
$fontAwesome: "FontAwesome";
$defaultFontFamily: "Arial,Helvetica,sans-serif";

// color variables
$primaryBlue: #41A3E3;
$primaryBlueDarker: #397FAF;
$gray1: #4d4d4d;

// screen sizes
$screen-xs-min: 425px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


@mixin split-columns($numCols, $columnGap) {
  -moz-column-count: $numCols;
  column-count: $numCols;
  -webkit-column-count: $numCols;
  -moz-column-gap: $columnGap;
  -webkit-column-gap: $columnGap;
  column-gap: $columnGap;
}

