// Font variables
$roboto: "Roboto";
$raleway: "Raleway", sans-serif;
$oswald: "Oswald", sans-serif;
$openSans: "Open Sans", sans-serif;
$palanquin: "Palanquin", sans-serif;
$arial: "Arial", sans-serif;
$fontAwesome: "FontAwesome";

// color variables
$primaryBlue: #41A3E3;
$primaryBlueDarker: #397FAF;
$gray1: #111;

/*
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  @include border-radius(10px);
}
*/