
#bio_ep_bg {
  opacity: 0.4;
}

#bio_ep {
  display: none;
  width: 820px;
  height: 518px;
  color: #333;
  text-align: center;
  font-family: 'Titillium Web', 'Open Sans', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  background-image: url('../img/exit-popup-bg.gif');
  background-repeat: no-repeat;
  background-position: 0px -2px;
  border: solid 10px white;
  background-color: #5a76d0;

  #bio_ep_close {
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    font-family: verdana, geneva, sans-serif;
    border: 2px solid white;
    border-radius: 82px;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 26px;
    position: absolute;
    right: -22px;
    top: -22px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 500;
    background-color: #333;
    &:hover {
      color: #DDD;
    }
  }

  #bio_ep_content {
    padding: 0 0 0 0;
    overflow: auto;
    font-family: 'Titillium Web', 'Open Sans', sans-serif img {
      display: none;
      padding-left: 50px;
      margin-top: 5px;
      float: left;
    }
    .heading {
      font-size: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #F0F0F0;
      padding: 30px 20px 30px 20px;
      color: #666;
      font-weight: lighter;
    }
  }
}
#bio_ep #bio_ep_content, .content-page.ticket-review {
  .review-form {
    background-color: #efefef;
    position: absolute;
    top: 315px;
    left: 25px;
    width: 755px;
    height: 70px;
    padding: 10px 10px;

    &:after {
      font-size: 13px;
      color: red;
      top: 7px;
      position: absolute;
    }
    &.name-missing:after {
      content: 'Please enter your name';
      left: 18px;
    }
    &.contact-missing:after {
      content: 'Please enter your phone/email';
      left: 243px;
    }

    input {
      position: relative;
      height: 45px;
      font-size: 20px;
      font-weight: lighter;
      padding: 0px 8px;
      float: left;
      color: #333;
      margin-top: 13px;

      &.has-error {
        border: solid 1px red;
      }

      &[name="exitPopupName"] {
        width: 224px;
      }

      &[name="exitPopupContactInfo"] {
        margin-left: 3px;
        width: 250px;
      }
    }

    button {
      position: relative;
      height: 45px;
      width: 235px;
      border: none;
      margin-top: 13px;
      background-color: #d55b4a;
      color: white;
      margin-left: 2px;
      font-size: 15px;
      line-height: 44px;
      font-weight: bold;

      i {
        position: absolute;
        top: 16px;
        right: 6px;
      }
    }
  }
  .review-text {
    position: relative;
    margin-top: -62px;
    margin-left: -2px;
    text-align: left;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    top: -10px;
    width: 450px;
  }
  .thankyou-text {
    color: #1A6871;
    margin-top: 13px;
    font-size: 22px;
    font-family: "Helvetica";
  }
}


@-webkit-keyframes tada {
  0% {
    -webkit-transform:scale(1);
    transform:scale(1)
  }
  10%,20% {
    -webkit-transform:scale(0.9) rotate(-3deg);
    transform:scale(0.9) rotate(-3deg)
  }
  30%,50%,70%,90% {
    -webkit-transform:scale(1.1) rotate(3deg);
    transform:scale(1.1) rotate(3deg)
  }
  40%,60%,80% {
    -webkit-transform:scale(1.1) rotate(-3deg);
    transform:scale(1.1) rotate(-3deg)
  }
  100% {
    -webkit-transform:scale(1) rotate(0);
    transform:scale(1) rotate(0)
  }
}
@keyframes tada {
  0% {
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
  10%,20%{
    -webkit-transform:scale(0.9) rotate(-3deg);
    -ms-transform:scale(0.9) rotate(-3deg);
    transform:scale(0.9) rotate(-3deg)
  }
  30%,50%,70%,90% {
    -webkit-transform:scale(1.1) rotate(3deg);
    -ms-transform:scale(1.1) rotate(3deg);
    transform:scale(1.1) rotate(3deg)
  }
  40%,60%,80% {
    -webkit-transform:scale(1.1) rotate(-3deg);
    -ms-transform:scale(1.1) rotate(-3deg);
    transform:scale(1.1) rotate(-3deg)
  }
  100% {
    -webkit-transform:scale(1) rotate(0);
    -ms-transform:scale(1) rotate(0);
    transform:scale(1) rotate(0)
  }
}
#bio_ep {
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name:tada;
  animation-name:tada;
}
