@import '_vars.scss';

.content-page .content-container .content-body {

  &.fight-page h1 {
    color: $primaryBlueDarker!important;
    font-size: 32px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .overview-row {
    padding: 0px 20px;
    overflow: hidden;
    margin: auto;
    vertical-align: top;
    max-width: 800px;
    min-height: 100px;
    display: inline-block;
    width: 100%;

    h1 {
      color: #333!important;
      float: left;
      font-size: 30px;
      font-weight: 300;
      margin: 0;
      line-height: 60px;
      width: 70%;
      text-align: right;

      &.savings-title {
        width: 48%;
        line-height: 2.3em;
        padding-right:25px;
        text-align: right;
        padding-right: 15px;
        font-weight: 400;
      }
    }

    div.savings-result {
      .savings-timeframe {
        font-size: 2em;
        float: left;
        line-height: 2.6em;
        margin-left: 10px;
      }
      p {
        float:left;width:auto
      }
    }

    p.green-text {
      font-size: 4em;
      line-height: 1em;
      font-weight: bold;
    }

    .subtitle {
      color: darkgray;
      font-size: 16px;
      line-height: 16px;
      clear: both;
      margin-bottom: 10px;
    }
  }
  .options-comparison {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  table {
    clear: both;
    width: 100%;
    min-width: 600px;
    border-spacing: 1px;
    border-collapse: separate;

    tr {
      &:last-child td {
        border-bottom: solid 1px #fcfcfc;
        font-weight: 400;
      }
      &:nth-child(1) td {
        font-weight: 400;
        font-size: 18px;
        border-bottom: solid 1px #f8f8f8;
      }
      &:not(:nth-child(1)) td:not(:nth-child(1)) {
        border-bottom: solid 1px #f8f8f8;
        border-right: solid 1px #f8f8f8;
        background-color: white;
        font-size: 22px;
        color: #333;
      }

      td {
        padding: 20px 10px;
        background-color: #f8f8f8;
        width: 40%;

        &:nth-child(1) {
          text-align: right;
          padding-right: 15px;
          width: 160px;
          border: solid 1px #f8f8f8;
          border-top: none;
          background-color: #f3f3f3;
          font-size: 18px;
        }

        &:nth-child(4) {
          background-color: #f8f8f8;
        }

        &.white-bg {
          background-color: white;
          border: none;
        }

        &.light-gray {
          color: #ccc!important;
        }

        &.dark-gray {
          color: darkgray!important;
        }
      }
    }
  }

  .fa-question-circle {
    color: #78B6FF;
    font-size: 18px;
    display: inline-block;
    top: -1px;
    position: relative;
    left: 2px;
    cursor: pointer;
  }

  .otr-tooltip {
    font-size: 12px;
    line-height: 15px;
    width: 180px;
    border: solid 1px #ccc;
    padding: 10px;
    background-color: #FFFFF9;
    position: absolute;
    top: 35px;
    left: -15px;
  }

  hr.gray-hr {
    border: 0;
    height: 1px;
    background: #eee;
    max-width: inherit;
  }

  h2.fight-title {
    margin-top: 0;
    color: #999
  }

  .inline-field {
    //border: 1px solid transparent !important;
    width: 130px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;

    &.dollar-value {
      width: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: -60px;
      font-size: 35px;
      background-color: transparent;
    }
  }

  .red-text {
    color: #A54242!important;
  }

  .ticket-fine:before {
    position: absolute;
    top: 30%;
    content: "$";
    left: calc(50% - 40px);
    color: #A54242;
  }

  .text-input-description {
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    color: $primaryBlue;
  }

  .asterisk {
    color: #E6E6E6;
    font-size: 25px;
  }

  .asterisk-text {
    color: darkgray;
    font-size: 13px;
    width: 100%;
    margin-bottom: -19px;
    margin-top: 1px;
    text-align: right;
  }

  .edit-field-text {
    font-size: 13px;
    line-height: 13px;
    color: $primaryBlue;
    text-decoration: underline;
    line-height: 18px;
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

.edit-insurance-info {
  padding: 30px;
  font-size: 20px;
  text-align: center;

  .modal-row {
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;

    > div {
      display: inline-block;
      width: 49%;
      text-align: left;
      font-size: 20px;
      float: left;
    }

    span.dollar-sign {
      font-size: 33px;
      color: #777;
      margin-left: 0px;
    }

    input[type='text'] {
      padding: 10px;
      width: 70px;
    }
  }
}

.modal-button {
  font-size: 22px;
  width: 100%;
  height: 46px;
  text-transform: uppercase;
  background-color: white;
  border: solid 1px #448CE2;
  color: #2265B5;
  margin-top: 20px;
  &:hover {
    background-color: #2265B5;
    color: white;
  }
}

@media (min-width: 1024px) {
  .content-page .content-container .content-body.fight-page {
    .overview-row {
      width: 48%;
      display: inline-block;
      margin-bottom: 30px;

      h1 {
        line-height: 40px;
        margin-top: 15px;
      }

      .subtitle {
        margin-top: 10px;
      }
    }
  }
  hr {
    display: none;
  }
}

@media (max-width: 853px) {
  .content-page .content-container .content-body.fight-page .overview-row {
    max-width: inherit;
    padding: 0;

    h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;

      &.savings-title {
        width: 100%;
        line-height: 1.3em;
        text-align: center;
        margin-bottom: 10px;
      }
    }
    div.savings-result {
      width: 100%;

      .savings-timeframe, p.large.green-text {
        width: 100%;
        margin-bottom: 0px;
        line-height: 1em;
      }
    }

    p {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .content-page .content-container .content-body.fight-page {
    padding: 30px 10px;

    .edit-insurance-info .modal-row {
      margin-bottom: 15px;
    }
    .edit-insurance-info .modal-row > div {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    .overview-row {
      max-width: inherit;
      padding: 0;

      h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;

        &.savings-title {
          width: 100%;
          line-height: 1.3em;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      div.savings-result {
        width: 100%;

        .savings-timeframe, p.large.green-text {
          width: 100%;
          margin-bottom: 0px;
        }
      }

      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 640px) {
  .content-page .content-container .content-body .overview-row .savings-timeframe {
    font-size: 1.6em;
    margin-left: 0;
  }

  .edit-insurance-info {
    .modal-row > div {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .content-page .content-container .content-body .options-comparison {
    padding: 0px;

    table {
      margin-left: -10px;
    }
  }
}

@media (max-width: 400px) {
  .content-page .content-container .content-header h1 {
    font-size: 55px;
  }
  .content-page .content-container .content-body {
    &.fight-page {
      padding: 30px 0px;

      h1 {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;
      }

      button.fight-my-ticket {
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
  }
}