// This is the main site SCSS file. It defines styles
// used by the home page as well as common elements
// across the site.

@import '_vars.scss';

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}

p, .btn, div {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 300;
}

p {
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  color: #656565;
  font-family: $roboto;
}

.emphasized {
  font-weight: 600;
}

#page {
  padding-top: 0px !important;
  background-color: white;

  &.home-page {
    margin-top: -70px;
  }
}

#branch-banner-iframe {
  background-color: white;
}

.homepage-banner {
  &.bg-primary {
    background-image: url(../img/driver-looking-back.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 1px);
    background-color: #337ab7;
  }
  h1 {
    color: white!important;
  }
  .container {
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    padding: 10px 40px;
  }
}

.media-container {
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  padding-bottom: 8px;
  padding-top: 12px;
  position: absolute;
  bottom: 0;

  .media-image img {
    max-height: 35px;
  }
}

.no-padding {
  margin: 0!important;
  padding: 0!important;
}

.hide {
  display: none;
}

.navbar-default {
  background-color: transparent!important;
  box-shadow: none;
  border: none;
  height: 70px;
  z-index: 2;

  .navbar-toggle {
    border: solid 1px white;

    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .navbar-nav {
    > li {
      height: 100%;

      &:not(.hover) > a {
        font-weight: inherit !important;
        color: white;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        background-color: $primaryBlue !important;
        color: #fff !important;
        font-weight: 600 !important;
      }
    }
    > #menu-item-12.hover > a {
      color: #fff!important;
      font-weight: bold;
    }
  }
}

.nav.navbar-nav.navbar-right li a.login-button {
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 7px!important;
  margin-top: 11px;
  margin-left: 10px;
  background-color: white;
  border: solid 1px transparent;
  border-radius: 3px;
  font-family: Helvetica,Arial,sans-serif;
  color: #FFF;

  &:hover {
    border: solid 1px #FFF;
  }
}

.entry-content {
  font-family: "Oxygen";
  font-size: 14px;
  font-weight: normal;
  color: #6b6b6b;

  .lead {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 0px;
  }
}

.recentcomments {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}

.site-title, .site-description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

#mc_embed_signup {
  input.mce_inline_error {
    border-color: #6b0505;
  }

  div.mce_inline_error {
    margin: 0 0 1em 0;
    padding: 5px 10px;
    background-color: #6b0505;
    font-weight: bold;
    z-index: 1;
    color: white;
  }
}

.content-page-banner {
  background-image: url("http://drivingschool.net/wp-content/themes/eds/img/road.jpg"); /* update */
  background-repeat: no-repeat;
  background-position: center -242px; /* update */
  height: 37em; /* update */
  background-size: 100% 142%; /* update */
  background-color: #337ab7; /* update */
}

.site-name img.logo {
  margin-top: 2px;
}

ul#menu-main-menu {
  height: 100%;

  a {
    line-height: 18px;
    margin-top: 11px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder !important;
    border-radius: 3px;
    background-color: transparent;

    &:hover {
      color: white!important;
    }
  }

  #menu-item-11, #menu-item-13 {
    a:hover {
      text-shadow: 1px 1px 4px #4A4A4A;
    }
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: white;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */


#menu-item-12 {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  width: 185px;
  cursor: pointer;
  z-index: 2;

  a {
   -webkit-transition: none;
   -moz-transition: none;
   -o-transition: none;
   transition: none;
  }

  .nav-list {
    display: none;
    padding: 20px;
  }
  i {
    float: left;
    cursor: pointer;
  }
  .fa.fa-chevron-down {
    position: absolute;
    top: 29px;
    right: 7px;
    color: #fff;
    font-size: 10px;
    z-index: 2;
  }
  &.hover {
    > a {
      background-color: $primaryBlue;
    }

    .nav-list {
      padding: 20px 15px 20px 30px;
      background: #fff;
      background-color: #41A3E3;
      position: absolute;
      top: 51px;
      border-radius: 3px;
      display: block;
      width: 500px;
      z-index: 1;
      //overflow-y: scroll;
      overflow-x: hidden;
      left: -150px;
      @include split-columns(3, 15px);
    }
    a, &.hover .fa.fa-chevron-down {
      color: white !important;
      z-index: 2;
    }
    .nav-list li.nav-item {
      list-style: none;
      color: white;
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 1;
      height: 35px;
      cursor: pointer;

      a {
        text-transform: none;
        display: block;
        height: 100%;
        margin-top: 0;
        line-height: 30px;
      }
    }
    .nav-list li.nav-item:hover a {
      text-decoration: underline!important;
      color: white;
    }
  }
  &.active i {
    color: white!important;
  }
}

.navbar .container {
  height: 100%;
}

#text-3.widget {
  padding: 0;
  margin-top: 140px;
}

.textwidget {
  margin-top: 25px;
  margin-left: 0px;

  #header, #subheader {
    font-family: "Oxygen";
    text-align: left;
    text-shadow: 0 3px 10px rgba(0,0,0,0.2); /* update */
    padding-bottom: 0px;
  }
  #header {
    font-size: 4.3em; /* update */
    line-height: 1.3em;
    width: 80%;
    font-weight: bold;
  }
  #subheader {
    font-size: 2em;
    line-height: 1.5em;
    width: 70%;
    font-family: inherit;
    padding-bottom: 20px;
    font-weight: 300;
  }
  .get-started-container {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 1;
    max-width: 900px;

    .overlay {
      position: absolute;
      background-color: #000;
      opacity: .5;
      height: 84px;
      width: 100%;
      top: -15px;
      left: 0;
      border-radius: 3px;
      margin: auto;
    }
    .state-input {
      height: 53px;
      width: calc(100% - 284px);
      margin-right: 5px;
      padding-left: 15px;
      font-size: 18px;
      float: left;
      position: relative;
      margin-left: 15px;
      border-radius: 2px;
    }
    a.get-started-button {
      width: 250px;
      height: 55px;
      clear: none;
      float: left;
      margin-top: -1px;
      position: relative;
      border-radius: 2px;
      min-width: inherit;
    }
  }
}

#signUpButton, .signup-button {
  background: #2566a6;
  padding: 12px 50px;
  border-radius: 2px;
  color: white;
  border: solid 1px white;

  &:hover {
    background: #2C75BD;
    color: white;
    border: solid 1px white;
  }
}

.app-button img {
  height: 50px;
}

#content.how-it-works-header {
  margin-top: -10px;

  .entry-content {
    .lead {
      line-height: 30px;
      font-size: 18px;
    }
    .gray {
      font-size:22px;
    }
  }
}
.how-it-works-content {
  font-family: Roboto;
  font-size: 16px;

  .bg .container .row .home-widget {
    padding: 0 0 20px 0;
  }
  .woocommerce ul.product_list_widget {
    margin: 0 -15px 0px -15px;
    clear: both;
    min-width: 100%;
    float: left;
    text-align: center;

    li {
      float: left;
      padding: 0 15px;
      margin: 0 0 30px;
      border: none;
      display: inline-block;

      &:last-child {
        float: none;
      }
      div.product-wrap {
        background-color: transparent;
        border: none;
      }
      div.product-wrap div.product-img-wrap img {
        width: 230px;
      }
    }
  }
  .noMoreMailingTickets {
    font-size: 2em;
    margin-bottom: 2em;margin-left: 20px;
    margin-right: 20px;
    color: $primaryBlueDarker;
    font-weight: 300;
    line-height: 1.2em;
  }

  .product-img-wrap {
    height: 280px;

    img {
      max-height: 280px;
      width: auto !important;
      float: none !important;
    }
  }
}

.features-section {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #f4f4f4;
  clear: both;

  .features {
    font-family: $roboto;
    overflow: auto;
    padding-bottom: 0px !important;
    margin-bottom: 0px;

    h2 {
      color: #666666;
      margin-bottom: 30px;
      margin-top: -45px;
      font-weight: 300;
    }

    .feature {
      float: left;
      padding-right: 15px;
      padding-bottom: 30px;
      color: #444444;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      min-height: 300px;

      &:hover .icon-preview, .features .feature:hover .feature-title {
        color: $primaryBlueDarker;
      }

      .icon-preview {
        font-size: 5em;
        color: #888888;
      }

      .feature-title {
        font-size: 1.7em;
        color: #428bca;
        font-weight: 300;
      }

      .feature-content {
        padding: 0px 20px;
        font-weight: 300;
      }

      &.first {
        padding-left: 0;
      }
    }
  }
}

.signup-section {
  &:not(.row) {
    background-color: #ededed;
    font-family: $roboto;
    padding-bottom: 30px;
    background-image: url(../img/bg-pattern-gray.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .container .row {
    h2 {
      font-family: $roboto;
      margin-top: 50px;
      margin-bottom: 30px;
      color: #dedede;
    }
    .signup-text {
      margin-top: -10px;
      font-size: 1.3em;
      font-family: $roboto;
      font-weight: 100;
      color: #cccccc;
    }
    #signupForm {
      margin: auto;
      width: 50%;

      label {
        float: left;
        color: #999999;
        font-weight: 100;
      }
    }
  }
}
div.signup-section {
  display: flex;
}
div.signup-form {
  width: 56%;
}
.twitter-feed {
  width: 41%;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 20px;
}
.lawyer-section {
  background-image: url("../img/lawyer-blue-overlay.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  color: white;
  display: table;
  vertical-align: middle;

  .container {
    height: 100%;
    display: table-cell;
    width: 100%;
    vertical-align: middle;

    &:before {
      content: " ";
      display: table;
    }

    section.page-content {
      padding: 0 20px 20px;

      div.row {
        margin-left: -15px;
        margin-right: -15px;

        .textwidget h3 {
          color: white;
          font-family: $roboto;
          font-size: 2.3em;
          font-weight: 300;
        }
      }
      &:after {
        clear: both;
      }
    }
  }

}
.lawyer-lead-form {
  .modal-body {
    input[type="submit"].btn-default {
      background-color: #0143A3 !important;
      color: #fff !important;
      border: none;
    }
    b {
      position: absolute;
      right: 23px;
      z-index: 999;
      color: red;
      margin-top: 24px;
      font-size: 17px;
    }
  }
  .modal-footer {
    .btn.btn-default {
      background-color: $primaryBlueDarker;
      border-color: $primaryBlueDarker;
      color: white;

      &:hover {
        background-color: #204d74;
        border-color: #204d74;
      }
    }
  }
}

.modal-content .modal-header {
  border-botom: none;

  p.signup-text {
    color: $primaryBlueDarker;
    font-size: 2em;
    font-weight: 100;
    font-family: Roboto;
    padding-top: 10px;
    text-align: center;
  }
}

#footer {
  background: #3b3b3b;
  clear: both;
  color: #aaaaaa;
  font-size: 14px;
  line-height: 1.42857;

  a {
    color: #aaaaaa;
    text-decoration: none;
    background: transparent;
    &:hover {
      color: white;
    }
  }

  #footer-widgets {
    word-wrap: break-word;

    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    #footer-wrapper {
      margin-bottom: 30px;
      margin-top: 0;

      .row {
        margin-left: -15px;
        margin-right: -15px;

        h4 {
          color: white;
          font-weight: 300;
          font-family: $roboto;

          &.widgettitle {
            margin: 0;
            padding: 0 0 0px 0;
            border-bottom: none;
            font-size: 18px;
            line-height: 24px;
          }
        }

        .widgetFooter {
          padding-bottom: 0;
        }

        ul {
          padding: 0;
          margin: 0;
          display: block;
          list-style-type: disc;

          li {
            padding: 7px 0;
            border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
            margin: 0 0;
            list-style: none;
            font-size: 14px;
            line-height: 1.42857;
          }
        }

        .fa-facebook, .fa-twitter, .fa-tumblr, #footer #footer-widgets #footer-wrapper .row .fa-tumblr, #footer #footer-widgets #footer-wrapper .row .fa-twitter {
          margin-right: 10px;
          font-size: 1.5em;
        }
      }
    }
  }

  #subscriber-signup {
    h2.notification-title {
      color: white;
      font-size: 1.5em;
      font-family: $roboto;
      margin-bottom: 10px;
    }
    input[type='submit'] {
      background-color: $primaryBlueDarker;
      border-color: white;
    }
    .help-block {
      color: #d98f9f;
    }
    .has-error {
      border: solid 1px #d98f9f;
    }
    .alert-success {
      color: #98cc83;
      background-color: transparent;
      border-color: transparent;
      padding: 5px 0px;
      font-size: 13px;
    }
    .alert-danger {
      color: #d98f9f;
      background-color: transparent;
      border-color: transparent;
      padding: 5px 0px;
      font-size: 11px;
    }
  }

  #sub-floor {
    color: #aaaaaa;
    background: #292929;
    padding: 10px 0;
    font-size: 12px;
    padding: 2px 0px 10px 0px;

    .copyright {
      width: 80%;
    }
  }

  .legal-disclaimer {
    font-size: 11px;
    color: #666666;
    font-family: Roboto;
  }
}

a.fight-my-ticket {
  display: block;
  line-height: 60px;
  clear: both;
  cursor: pointer;
  height: 60px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $helvetica;
  font-weight: 400;
  border-radius: 5px;
  width: 60%;
  min-width: 250px;
  max-width: 660px;
  color: white!important;
  background: #2a81d7;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;

  &:hover {
    text-decoration: none;
    background-color: #1872C3;
    color: white!important;
  }
}

#state-input-field_dropdown {
  overflow: auto;
  max-height: 500px;
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: calc(100% - 284px); /*250px;*/
  padding: 4px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: 52px;
  margin-left: 15px;
  background-color: #ffffff;
}
.angucomplete-dropdown {
  z-index: 1;

  .angucomplete-searching {
    font-size: 14px;
    color: #525252;
    text-align: left;
    margin-left: 10px;
  }

  .angucomplete-row {
    background-color: white;
    font-size: 18px;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    text-align: left;
    width: 100%;
    overflow: auto;

    &:not(:last-child) {
      border-bottom: solid 1px #eee;
    }

    &:hover {
      background-color: #efefef;
    }

    .angucomplete-title {
      color: #999;
      float: left;

      span.highlight {
        color: black;
      }
    }
    .angucomplete-description {
      color: #d6555b;
      float: right;
    }
  }
}


/* Responsive styling */

@media (max-width: 300px) {
  .navbar-default .navbar-header .logo {
    display: none;
  }
}

@media (max-width: 400px) {
  .navbar .container {
    height: 60px!important;
  }
  .site-name .navbar-brand {
    img:first-child {
      width: 30px;
    }
    img:last-child {
      width: 150px;
      margin-left: -6px;
      margin-top: 15px;
    }
  }
  .homepage-banner #text-3.widget {
    margin-top: 70px;
  }
  button.fight-my-ticket, a.fight-my-ticket {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
  }
}

@media (max-width: 550px) {
  .textwidget .get-started-container {
    z-index: 1;
    .overlay {
      height: 142px;
    }
    .state-input {
      width: 93%;
      margin-left: 3%;
    }
    a.get-started-button {
      width: 93%;
      margin: 3px 0 0 3%;
    }
  }
  #state-input-field_dropdown {
    width: 93%;
    margin-left: 3%;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 6px;
  }

  #signUpButton {
    padding: 12px 24px;
    font-size: 17px;
  }

  .textwidget {
    h1 {
      text-align: center !important;
      padding-bottom: 0px;
    }
    #header {
      font-size: 4.0em;
      width: 100%;
    }
    #subheader {
      text-align: center !important;
      font-size: 2.3em;
      line-height: 1.4em;
      width: 100%;
      padding-bottom: 20px;
    }
  }

  .app-button {
    float: none!important;

    img {
      margin-top: 0px;
      height: 40px;
      cursor: pointer;
    }
  }
}

@media (max-width: 682px) {
  div.signup-section {
    display: block;
  }
  div.signup-form {
    width: 100%;
  }
  .twitter-feed {
    padding: 0;
    width: 100%;
    margin-left:10px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 8px;
  }

  .navbar-collapse.navbar-ex1-collapse {
    display: none;

    &.in {
      overflow-y: visible;
    }

    > ul > li:not(:first-child) {
      background-color: white;
      margin-top: 0px;
      margin-bottom: 0px;
      border-top: 1px solid;
      border-color: #F1F1F1;
      padding-bottom: 5px;

      &.active {
        background-color: $primaryBlue;
      }
    }

    &.collapse.in ul#menu-main-menu {
      height: auto!important;

      li a {
        height: 35px;
        line-height: 11px;

        &:hover {
          color: #0586b2;
        }
      }
      li.nav-item a.login-button {
        color: #0586b2;
      }
    }

    #menu-item-12 {
      margin-right: 0;
      margin-left: 0;
      overflow: visible;
      width: 100%;
      overflow-x: hidden;

      .fa.fa-chevron-down {
        top: 21px;
        right: 20px;
        font-size: 15px;
      }

      ul.nav-list.nav-sublist {
        width: 103%;
        padding: 50px 5px 0px 15px;
        left: 0px;
        top: 0px;
        overflow-y: scroll;
        @include split-columns(2, 15px);
        height: auto;
        max-height: inherit;

        li.nav-item {
          list-style: none;
          color: white;
          display: block;
          margin: 0;
          padding: 0;
          position: relative;
          z-index: 1;
          height: 30px;
          cursor: pointer;
        }
      }

      &.hover {
        height: 340px;
        overflow-y: scroll;

        .nav-list li.nav-item a {
          text-transform: none;
          font-size: 15px;
        }
      }
    }
  }

  ul#menu-main-menu {
    height: 100%!important;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid;
    border-color: #FFF;
    padding-bottom: 5px;

    > li:not(.nav-item):hover {
      background-color: #efefef;
    }
    > li.nav-item a:hover {
      background-color: #efefef;
    }
    a {
      color: #0586b2;
      &:hover {
        color: #0586b2!important;
        text-shadow: none!important;
      }
    }
  }

  #content.how-it-works-header {
    margin-top: 80px;
  }

  #footer #sub-floor .copyright {
    width: 100%;
  }
}

@media (max-width: 960px) and (min-width: 768px) {
  .navbar-default .navbar-header .logo {
    display: none;
  }
}

@media (max-width: 816px) {
  .textwidget {
    margin-top: 0px!important;
  }
}

@media (max-width: 440px) {
  #content.how-it-works-header {
    margin-top: 130px;
  }
}

@media (min-width: 768px) {
  .navbar-collapse.collapsing {
    overflow: visible!important;
  }
}

@media (min-width: 900px) {
  .textwidget .get-started-container {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  #footer #footer-widgets .container {
    width: 1170px;
  }
}

@media (max-height: 650px) and (max-width: 500px) {
  .media-container {
    position: relative;
  }
}