// This file defines the styles by the help pages
// (about us, faq, contact us, etc.)
// These styles override default .content-page styling
// defined in content-page.scss

@import '_vars.scss';

.content-page.ticket-review {
  font-family: $openSans;

  .content-container {
    .content-header {
      height: 325px;

      .content-background {
        height: 325px;
        background: url(../img/traffic-ticket.png) no-repeat 50% 35%;
        background-size: cover;
        background-position: right;

        &:after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #000;
          opacity: 0.5;
          filter: alpha(opacity=90);
          content: " ";
        }
      }

      h1 {
        font-size: calc(3vw + 2vh + 2vmin);
        margin-left: 20px;
        float: left;
        text-align: center;
        max-width: 90%;
        top: 20px;
        word-wrap: initial;
      }
    }
  }
  .content-body {
    margin-top: -30px;

    .h1 {
      font-size: 17px;
      color: #666;
    }
    .review-form {
      width: 100%;
      position: inherit;
      height: auto;
      background-color: transparent;

      form {
        width: 75%;
        max-width: 600px;
        background-color: #efefef;
        border-radius: 5px;
        text-align: center;
        display: block;
        margin: auto;
        padding: 25px 40px;
        overflow: auto;

        input {
          width: 100%;
          height: 60px;
          margin: 0;
          margin-bottom: 1px;
          padding: 0px 10px;
        }

        .has-ticket {
          float: left;
          text-align: left;
          margin: 10px;
          font-size: 18px;

          input[type='checkbox'] {
            width: auto;
            height: 27px;
            margin-right: 10px;
          }
        }

        input[type='file'] {
          line-height: 10px;
          margin: 0px;
          margin-bottom: 10px;
          font-size: 17px;
          background: rgb(197, 236, 207);
          padding: 20px 15px;
          color: #3E3E3E;
          border-radius: 4px;
        }

        button {
          margin-top: 6px;
          width: 100%;
          height: 60px;
          margin-top: 6px;
          font-size: 20px;
          font-weight: 400;
          cursor: pointer;
          border-radius: 4px;

          &:hover {
            background-color: #b13929;
          }
          i {
            right: 20px;
            top: 20px;
          }
        }
      }
    }
  }
  .align-middle {
    position: relative;
    top: 50%;
    transform: translateY(20%);
  }
}

@media (max-width: 768px) {
  .content-page.ticket-review .content-container .content-body {
    padding-top: 30px !important;
  }
}
@media (max-width: 400px) {
  .content-page.ticket-review .content-container .content-body {
    .review-form form {
      padding: 25px 10px;
      min-width: 300px;
    }
  }
}