<div id="page" class="hfeed site">

    <!--<div ui-view></div>-->
    <div class="homepage-banner bg-primary" role="" style="background-color: #f4f4f4;">
        <div class="container">
            <div id="text-3" class="widget widget_text">
                <div class="textwidget">
                    <h1 id="header">
                        Think twice before you pay that ticket.
                    </h1>
                    <h1 id="subheader">
                        A single speeding ticket could raise your insurance rates by a whopping $790 over the next 3 years.</h1>
                    <br>
                    <h1>
                        <a ng-href="{{mobileAppUrl}}" id="signUpButton" class="btn btn-default btn-lg">Fight My Ticket</a>
                        <a class="app-button" ng-href="{{ vm.iTunesLink }}" style="float: right;">
                            <img src="assets/img/badge_ios.png" style="height:50px;cursor:pointer;"
                                 alt="Download Off the Record from the iOS app store and fight your traffic ticket with lawyer today."
                                 title="Download Off the Record from the iOS app store to start fighting your traffic tickets today">
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <!-- FEATURED IN -->
    <div class="container text-center" style="width: 100%!important;background-color: #f4f4f4;padding-bottom: 10px;padding-top: 10px;">
        <p class="lead" style="margin-bottom:0;font-size: 14px;font-family: 'Roboto', sans-serif;font-weight: 400;color: #999;">
            FEATURED IN
        </p>
        <a href="http://usatoday30.usatoday.com/video/new-app-fights-traffic-tickets-for-you/4594279255001" target="_blank">
            <img src="assets/img/logos/usa-today-logo.png" width="200" class="wp-post-image padding-right-30"
                 alt="USA Today">
        </a>
        <a href="http://www.cbs19.tv/story/30428480/new-app-helps-drivers-fight-traffic-tickets" target="_blank">
            <img src="assets/img/logos/cbs-logo.png" width="150" class="wp-post-image padding-right-30"
                 alt="CBS logo">
        </a>

        <a href="http://www.fox10phoenix.com/news/hot-topics/45565415-story" target="_blank">
            <img src="assets/img/logos/fox-news-logo.png" width="200" class="wp-post-image padding-right-30"
                 alt="Fox logo">
        </a>
        <a href="http://www.king5.com/story/news/local/2015/11/03/ticketapp/75078094/" target="_blank">
            <img src="assets/img/logos/nbc-logo.png" width="200" class="wp-post-image"
                 alt="NBC logo">
        </a>
    </div>
    <div id="content" class="site-content container text-center how-it-works-header">
        <div id="primary" class="content-area col-sm-12 col-md-12">
            <main id="main" class="site-main" role="main">

                <a id="howitworks" name="howitworks" style="display:block;padding-top:20px"></a>
                <article id="post-8" class="post-8 page type-page status-publish hentry">
                    <div class="entry-content">
                        <h2 class="gray" style="font-size: 2.9em; font-weight: 300;">
                            Fighting your ticket has never been easier.</h2>
                        <p class="lead" style="font-size:1.5em">
                            You are legally entitled to contest your traffic tickets, but city and municipal governments make the process inconvenient and cumbersome.
                            Off the Record lets you do it in under a minute.</p>
                    </div>
                </article>
            </main>
        </div>
    </div>

    <div class="text-center how-it-works-content">
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 home-widget" role="complementary">
                        <div id="woocommerce_products-2" class="widget woocommerce widget_products">
                            <ul class="product_list_widget">
                                <li class="col-sm-6 col-md-4">
                                    <div class="product-wrap">
                                        <div class="product-link">
                                            <div class="product-img-wrap">
                                                <img style="width:230px;" src="assets/img/iphone_ticketview.png" class="wp-post-image"
                                                     alt="iPhone app to fight traffic or speeding ticket with lawyer attorney">
                                            </div>
                                            <h3 class="product-name">Snap a photo</h3>
                                        </div>
                                        <div>
                                            <p>First, provide a photo of your ticket. This will tell us most of the information we need to successfully handle your case.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-6 col-md-4">
                                    <div class="product-wrap">
                                        <div class="product-link">
                                            <div class="product-img-wrap">
                                                <img src="assets/img/iphone_courtsearch.png" class="wp-post-image"
                                                     alt="which court is your traffic or speeding ticket from? We find you an attorney">
                                            </div>
                                            <h3 class="product-name">Tell us about your ticket</h3>
                                        </div>
                                        <div>
                                            <p>We need to know a few things, like the court your ticket was assigned. This will help us find the best lawyer for your ticket.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-6 col-md-4">
                                    <div class="product-wrap">
                                        <div class="product-link">
                                            <div class="product-img-wrap">
                                                <img src="assets/img/iphone_casesview.png" class="wp-post-image"
                                                     alt="Manage your speeding ticket or traffic ticket online while your lawyer fights it">
                                            </div>
                                            <h3 class="product-name">Put us to work</h3>
                                        </div>
                                        <div>
                                            <p>With our secure payment system and case tracking tools, you'll jumpstart your case and receive real-time status updates.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="noMoreMailingTickets">You're done.  No mailing in your ticket.  No showing up in court.</div>

                            <a ng-href="{{mobileAppUrl}}" class="btn btn-lg signup-button"
                               title="Fight My Ticket">Fight My Ticket</a>
                            <a id="features" name="features" style="display:block;margin-top:0px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features-section">
        <div class="container">
            <section class="page-content entry-content clearfix">
                <div class="row text-center">
                    <div id="woocommerce_products-2" class="widget info woocommerce widget_products features">
                        <h2 class="widgettitle">Features</h2>

                        <div class="feature">
                            <i class="icon-preview fa fa-clock-o"></i>
                            <h3 class="feature-title">Super quick</h3>
                            <div class="feature-content">Contest your ticket in under a minute. Get back on the road knowing your driving record is in good hands.</div>
                        </div>
                        <div class="feature">
                            <i class="icon-preview fa fa-gavel"></i>
                            <h3 class="feature-title">100% legal</h3>
                            <div class="feature-content">Everyone is entitled to contest their traffic tickets, but only 5% do. We make the process a lot less intimidating.</div>
                        </div>
                        <div class="feature">
                            <i class="icon-preview fa fa-camera"></i>
                            <h3 class="feature-title">Easy to use</h3>
                            <div class="feature-content">Just snap a photo of your ticket, and answer a few questions. You'll never have to mail it in.</div>
                        </div>
                        <div class="feature">
                            <i class="icon-preview fa fa-institution"></i>
                            <h3 class="feature-title">No showing up in court</h3>
                            <div class="feature-content">You sit back and relax... we'll match you with the lawyer most likely to win your case in court.</div>
                        </div>
                        <div class="feature">
                            <i class="icon-preview fa fa-comments"></i>
                            <h3 class="feature-title">Full transparency</h3>
                            <div class="feature-content">Chat with your lawyer at any time to ask questions or get updates on your case.</div>
                        </div>
                        <div class="feature">
                            <i class="icon-preview fa fa-money"></i>
                            <h3 class="feature-title">Save money</h3>
                            <div class="feature-content">You'll save hundreds of $ by avoiding a jump in your insurance premiums.</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="lawyer-section">
        <div class="container">
            <section class="page-content entry-content clearfix">
                <div class="row text-center">
                    <div id="text-2" class="widget info widget_text">
                        <div class="textwidget">
                            <h3>Are you a traffic lawyer? Find out how you can get involved.<br><br>
                                <a href="#" class="btn btn-lg signup-button" ng-click="vm.openLawyerFormModal()">
                                    Learn more
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>



<!-- lawyer form modal -->
<script type="text/ng-template" id="lawyerInfoRequest.html">

    <div class="modal-header" ng-hide="lawyerFormCtrl.lawyerLeadFormSuccess == true">
        <p class="signup-text">Tell us a little bit about yourself and we'll send you more info</p>
    </div>
    <div class="modal-header" ng-show="lawyerFormCtrl.lawyerLeadFormSuccess == true">
        <p class="signup-text">
        <p><strong>Thank you {{ lawyerFormCtrl.request.firstname }}!</strong></p>
        <p>We'll be in contact with you shortly.</p>
        </p>
    </div>
    <form name="lawyerLeadForm" role="form" novalidate
          class="lawyer-lead-form">
        <div class="modal-body" ng-show="lawyerFormCtrl.lawyerLeadFormSuccess !== true">
            <div class="form-group"
                 ng-class="{ 'has-error' : lawyerLeadForm.firstname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                <input type="text" name="firstname" ng-model="lawyerFormCtrl.request.firstname"
                       class="form-control" required placeholder="First Name">
                <!--<span ng-show="lawyerLeadForm.firstname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your first name</span>-->
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : lawyerLeadForm.lastname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                <input type="text" name="lastname" ng-model="lawyerFormCtrl.request.lastname"
                       class="form-control" required placeholder="Last Name">
                <!--<span ng-show="lawyerLeadForm.lastname.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your last name</span>-->
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : lawyerLeadForm.email.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                <input type="email" name="email" ng-model="lawyerFormCtrl.request.email"
                       class="form-control" required placeholder="Email Address">
                <!--<span ng-show="lawyerLeadForm.email.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter a valid email address</span>-->
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : lawyerLeadForm.city.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                <input type="text" name="city" ng-model="lawyerFormCtrl.request.city"
                       class="form-control" required placeholder="City">
                <!--<span ng-show="lawyerLeadForm.city.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your city</span>-->
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : lawyerLeadForm.state.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted }">
                <input type="text" name="state" ng-model="lawyerFormCtrl.request.state"
                       class="form-control" required placeholder="State">
                <!--<span ng-show="lawyerLeadForm.state.$invalid && lawyerFormCtrl.lawyerLeadFormSubmitted" class="help-block">Please enter your state</span>-->
            </div>
            <div class="form-group">
                <input type="text" name="website" ng-model="lawyerFormCtrl.request.website" class="form-control" placeholder="Website">
            </div>
        </div>
        <!--<div class="modal-footer" ng-hide="lawyerFormCtrl.lawyerLeadFormSubmitted == false && lawyerFormCtrl.lawyerLeadFormSuccess == true">-->
        <div class="modal-footer" ng-hide="lawyerFormCtrl.lawyerLeadFormSuccess == true">
            <div class="text-danger pull-left"
                 ng-show="lawyerFormCtrl.lawyerLeadFormSubmitted == true && lawyerFormCtrl.lawyerLeadFormSuccess == false">
                Unable to submit form. Please email us.
            </div>
            <button class="btn btn-warning" ng-click="lawyerFormCtrl.cancel()">Cancel</button>
            <button type="submit" class="btn btn-default" ng-click="lawyerFormCtrl.ok(lawyerLeadForm.$valid)">
                <span class="lawyerSubmitBtn" ng-hide="lawyerFormCtrl.dataLoading">Get Early Access</span>
                <i class="fa fa-spinner fa-pulse fa-lg" ng-show="lawyerFormCtrl.dataLoading"></i>
            </button>
        </div>
        <div class="modal-footer" ng-show="lawyerFormCtrl.lawyerLeadFormSuccess == true">
            <div class="text-danger pull-left"></div>
            <button class="btn btn-warning" ng-click="lawyerFormCtrl.cancel()">Close</button>
        </div>
    </form>
</script>