
<script type="text/ng-template" id="/login.html">

    <div class="page login-view" ng-hide="vm.isNewAccountWithFB">

        <div class="header">
            <h3 class="title">Please login to continue</h3>
        </div>

        <div class="body container-fluid space-top-3">
            <div class="login-options row row-centered-lg" ng-if="vm.showLoginOptions">
                <button class="facebook-login-button col-xs-12 col-sm-10"
                        ng-click="vm.initiateFacebookLogin()">
                    <i class="fa button-icon fa-facebook"></i>
                                <span>{{ !vm.session.model.currentUser || !vm.session.model.currentUser.isFbAuthed
                                    ? 'Login with Facebook' :
                                    'Logout from Facebook' }}</span>
                </button>
                <button class="email-login-button col-xs-12 col-sm-10 space-top-2"
                        ng-click="vm.loginWithEmail()">
                    <i class="fa button-icon fa-envelope"></i>
                    <span>Login with Email</span>
                </button>
                <div class="separator-or col-xs-12 col-sm-10">
                    <hr>
                    <div>OR</div>
                    <hr>
                </div>
                <button class="signup-button col-xs-12 col-sm-10" ng-click="vm.signup()">
                    <i class="fa button-icon fa-user" style="right:5px;"></i>
                    <span>Sign up</span>
                </button>
            </div>

            <div class="email-login-form row row-centered-lg"
                 ng-if="vm.showEmailLogin">
                <div class="col-xs-12 col-sm-10 space-top-1 no-padding-left no-padding-right">
                    <input type="text" name="email"
                           ng-model="vm.email"
                           placeholder="Email"
                           focus-me="true" />
                </div>
                <div class="col-xs-12 col-sm-10 space-top-1 no-padding-left no-padding-right">
                    <input type="password"
                           name="password"
                           ng-model="vm.password"
                           ng-enter="vm.submitEmailLoginForm(vm.email, vm.password)" placeholder="Password" />
                </div>
                <div class="form-errors col-xs-12 col-sm-10 space-top-1 no-padding-left no-padding-right"
                     ng-if="vm.errorMessage.length">{{vm.errorMessage}}</div>
                <button
                        class="btn btn-primary col-xs-12 col-sm-10 space-top-1"
                        ng-disabled="vm.dataLoading"
                        ng-click="vm.submitEmailLoginForm(vm.email, vm.password)">
                    <i class="fa fa-spinner fa-spin fa-lg" ng-show="vm.dataLoading"></i>
                    Login
                    <ion-spinner icon="spiral" class="button-spinner spinner-light" ng-if="vm.dataLoading"></ion-spinner>
                </button>
                <button class="btn btn-default col-xs-12 col-sm-10 space-top-1"
                        ng-click="vm.cancelEmailLogin()">Cancel</button>
            </div>

            <div id="signup-form" class="row row-centered-lg" ng-if="vm.showSignup">
                <div class="col-xs-12 col-sm-10 space-top-1">
                    <input type="text"
                           ng-model="vm.newUser.firstname"
                           placeholder="First name"
                           focus-me="true" />
                </div>
                <div class="col-xs-12 col-sm-10 space-top-1">
                    <input type="text"
                           ng-model="vm.newUser.lastname"
                           placeholder="Last name" />
                </div>
                <div class="col-xs-12 col-sm-10 space-top-1">
                    <input type="text"
                           ng-model="vm.newUser.emailAddress"
                           placeholder="Email" />
                </div>
                <div class="col-xs-12 col-sm-10 space-top-1">
                    <input type="password"
                           ng-model="vm.newUser.password"
                           placeholder="Choose a password"
                           ng-enter="vm.submitSignupForm(newUser)" />
                </div>
                <div class="col-xs-12 col-sm-10 space-top-1">
                    <dropdown placeholder="How did you find us?"
                              list="referralSources"
                              selected="selectedSource"
                              property="uiDisplayText"></dropdown>
                </div>

                <div class="col-xs-12 col-sm-10 space-top-1" ng-if="showReferralCode">
                    <input type="text"
                           ng-model="vm.newUser.referralCode"
                           placeholder="Do you have a referral code?" />
                </div>

                <div class="form-errors col-xs-12 col-sm-10 space-top-1"
                     ng-if="vm.errorMessage.length">{{vm.errorMessage}}</div>

                <button type="submit"
                        class="btn btn-primary col-xs-12 col-sm-10 space-top-1"
                        ng-disabled="vm.dataLoading"
                        ng-click="vm.submitSignupForm(vm.newUser)">
                    Signup
                    <i class="fa fa-spinner fa-spin fa-lg" ng-show="vm.dataLoading"></i>
                    <ion-spinner icon="spiral" class="button-spinner spinner-light" ng-if="vm.dataLoading"></ion-spinner>
                </button>

                <button class="btn btn-default col-xs-12 col-sm-10 space-top-1" ng-click="vm.cancelSignup()">Cancel</button>
            </div>
        </div>
    </div>

    <!-- how did you hear about us for initial FB login -->
    <div class="" ng-show="vm.isNewAccountWithFB">
        <div class="page login-view">
            <div class="panel-body">
                <div class="control-group row-space-top-3 row-space-1">
                    <strong>How did you hear about us?</strong>
                </div>
                <div class="control-group row-space-2 select" style="width: 100%;">
                    <select ng-model="vm.selectedSource"
                            ng-options="source.uiDisplayText for source in vm.sources">
                        <option value="" disabled="">-- Please choose one --</option>
                    </select>
                </div>
                <div class="control-group row-space-2" ng-show="vm.selectedSource.sourceTypeId == 3">
                    <input type="text" ng-model="vm.extraCode" placeholder="Do you have a referral code?">
                </div>
                <div class="control-group row-space-2">
                    <button type="submit"
                            class="btn btn-block btn-outline"
                            ng-click="vm.submitSourceInfo()">
                        <span ng-if="!vm.selectedSource.sourceTypeId">
                            Skip
                        </span>
                        <span ng-if="vm.selectedSource.sourceTypeId">
                            Next
                            <span ng-if="vm.dataLoading">
                                <i class="fa fa-lg fa-spinner fa-spin"></i>
                            </span>
                        </span>
                        <span ng-if="!vm.dataLoading">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>