

<style>
    .review-form.has-error input {
        border-width: 1px;
        border-color: red;
        border-style: solid;
    }
</style>

<!-- This is the exit popup -->
<div id="bio_ep">
    <div id="bio_ep_content">
        <div class="review-form" ng-show="!vm.reviewRequested">
            <form name="ticketReviewRequestForm" id="ticketReviewRequestForm" role="form" novalidate
                  ng-submit="vm.submitReviewRequest(ticketReviewRequestForm.$valid)">
            <div class="review-text">
                Request a free ticket review right now to know your options
            </div>
            <input type="text" name="exitPopupName" ng-model="vm.exitPopupName" placeholder="Your name" tabindex="1" required
                   ng-class="{ 'has-error' : ticketReviewRequestForm.exitPopupName.$invalid && vm.ticketReviewRequestFormSubmitted }" />
            <input type="text" name="exitPopupContactInfo" ng-model="vm.exitPopupContactInfo" placeholder="Your phone number or email"
                   tabindex="1" required
                   ng-class="{ 'has-error' : ticketReviewRequestForm.exitPopupContactInfo.$invalid && vm.ticketReviewRequestFormSubmitted }" />
            <button type="submit" name="ticket-review-submit-btn" tabindex="3" ng-disabled="vm.submitReviewRequestLoading == true">
                <span>REQUEST FREE REVIEW &nbsp;</span>
                <span ng-show="vm.submitReviewRequestLoading">
                    <i class="fa fa-spinner fa-spin fa-lg"></i>
                </span>
            </button>
            </form>
        </div>
        <div class="review-form" ng-show="vm.reviewRequested">
            <div class="thankyou-text">Thank you. We'll be in touch with you shortly!</div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="width: 96%">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"
                    style="background-color: #666666; margin-top:16px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="logo">
                <span class="site-name">
                    <a ui-sref="default-template.home" class="navbar-brand" title="Off the Record" rel="home" style="margin-top:-4px">
                        <img src="assets/img/OTR-icon.png" width="43" height="36"
                             style="float:left;float: left;margin-top: 15px;margin-right: 12px;opacity: 0.8" />
                        <img src="assets/img/otr-logo-V2.gif" width="175" height="21.5" class="logo"
                             title="Off the Record" style="margin-top:16px;opacity:0.9"
                             alt="App that lets drivers fight their traffic tickets and speeding tickets with ease" />
                    </a>
                </span>
            </div>
        </div>

        <!--<div ng-class="{ 'collapse navbar-collapse navbar-ex1-collapse': vm.isMobileDevice }" style="height: 100%;">-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="menu-main-menu" class="nav navbar-nav navbar-right">
                <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll" ui-sref-active="active">
                    <a title="Home" ui-sref="default-template.home">Home</a>
                </li>
                <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll" ui-sref-active="active">
                    <a title="How it works" ui-sref="default-template.howitworks">How it works</a>
                </li>
                <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll" ui-sref-active="active">
                    <a title="FAQ" ui-sref="default-template.help.faq">FAQ</a>
                </li>
                <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 page-scroll" ui-sref-active="active">
                    <a title="Fight your ticket" id="fight-nav-link">Fight your ticket</a>
                    <i class="fa fa-chevron-down" style="float:none;font-weight:lighter!important;"></i>

                    <ul class="nav-list nav-sublist">
                        <li class="nav-item" ng-repeat="state in statesList">
                            <a href="#" title="{{state.name}}" class="nav-link"
                               ui-sref="default-template.state-info.overview({stateCode: '{{state.abbreviation}}', stateName: '{{vm.formatStateName(state.name)}}'})">{{state.name}}</a>

                        </li>
                    </ul>
                </li>
                <li class="nav-item" style="text-align: center;padding-right: 8px;">
                    <button class="login-button" ng-click="vm.login()">Sign Up</button>
                    <button class="login-button" ng-click="vm.login()">Login</button>
                </li>

            </ul>
        </div>
    </div>
</nav>