
<div class="content-body fight-page" style="padding-top:0px">
    <h2 class="fight-title">Off The Record makes fighting your ticket easy and risk-free. </h2>
    <hr style="display:block;" class="gray-hr">
    <br>

    <div style="width:100%;margin-top:-20px;float:left;text-align:center;">
        <a class="fight-my-ticket" ng-href="{{mobileAppUrl}}">Fight My Ticket</a>
    </div>

    <div class="overview-row">
        <h1>
            <div class="title">Average success rate</div>
            <div class="subtitle">Based on historical performance</div>
        </h1>

        <p class="green-text">{{vm.selectedState.successRate}}%</p>
    </div>
    <hr/>
    <div class="overview-row">
        <h1>
            <div class="title">Money-back guarantee</div>
            <div class="subtitle">Full refund if we are unable to keep the ticket off your record</div>
        </h1>
        <p class="green-text"><i class="fa fa-check"></i></p>
    </div>
    <hr/>
    <div class="overview-row">
        <h1>
            <div class="title">No going to court</div>
        </h1>
        <p class="green-text"><i class="fa fa-check"></i></p>
    </div>
    <hr/>
    <div class="overview-row">
        <h1>
            <div class="title">No insurance increases</div>
        </h1>
        <p class="green-text" style="position:relative;"><i class="fa fa-check"></i></p>
    </div>

    <hr style="display:block;min-width:90%;" />

    <div class="options-comparison">
        <h1>What's the real cost of your ticket?</h1>
        <table>
            <tr>
                <td class="white-bg"></td>
                <td>When you pay the fine: </td>
                <td>When you fight it with <strong>Off the Record</strong>:</td>
            </tr>
            <tr>
                <td>
                    Your fine
                    <div style="font-size: 12px;color:#888;line-height: 16px;">
                        Average fine in {{ vm.selectedState.abbreviation }} is {{ vm.selectedState.avgFine | currency : '$' : 0 }}
                    </div>
                </td>
                <td style="position:relative;">
                    <div class="ticket-fine">
                        <input type="text" id="ticketFine" class="inline-field red-text" ng-model="vm.clientTicketFine"
                               ng-enter="vm.blurTicketFineField()"
                               text-input-description="enter your fine for a more accurate estimate"
                               ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" />
                    </div>
                </td>
                <td>
                    $0
                    <div class="asterisk-text">* if case is dismissed</div>
                </td>
            </tr>
            <tr>
                <td>Legal fee</td>
                <td>$0</td>
                <td style="position: relative;">
                    from ${{vm.selectedState.baseFee}}
                    <i class="fa fa-question-circle" style="position: relative;">
                        <div class="otr-tooltip otr-fee hide">
                            This covers our service, as well as the legal fee for the attorney who will fight your case. There are absolutely no other charges or hidden fees.
                        </div>
                </i>
                    <div class="asterisk-text">* rates vary by county</div>
                </td>
            </tr>
            <tr>
                <td>Insurance increase</td>
                <td><div class="red-text">
                        {{ vm.insuranceIncrease | currency : '$' : 0 }}
                        <a href="" class="edit-field-text" ng-click="vm.editInsuranceVariables()">
                            edit your insurance info for more accurate estimate
                        </a>
                    </div>
                </td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Point penalty</td>
                <td class="dark-gray">N/A</td>
                <td class="dark-gray">N/A</td>
            </tr>
            <tr>
                <td>Your total cost</td>
                <td class="red-text">{{ vm.totalTicketCost() | currency : '$' : 0 }}</td>
                <td>${{vm.selectedState.baseFee}}
                    <div class="asterisk-text">* if case is dismissed</div>
                </td>
            </tr>
        </table>
    </div>

    <div class="overview-row" style="width: 100%;margin-top: -10px;max-width:inherit">
        <h1 class="savings-title">Fighting this ticket could save you</h1>
        <div class="savings-result">
            <p class="large green-text" class="green-text">{{ vm.totalSavings() | currency : '$' : 0 }}</p>
            <div class="savings-timeframe">over the next 3 years</div>
        </div>
    </div>

    <br>
    <br>

    <a class="fight-my-ticket" ng-href="{{mobileAppUrl}}">Fight My Ticket</a>
</div>
