
<div class="content-body fight-page">
    <h2 class="fight-title">Off The Record makes fighting your ticket easy and risk-free. </h2>
    <hr style="display:block;" class="gray-hr">
    <br>

    <div style="width:100%;margin-top:-20px;float:left;text-align:center;">
        <button class="fight-my-ticket" ng-click="vm.fightTicketRedirect();">Fight Your Ticket</button>
    </div>

    <div class="overview-row">
        <h1>
            <div class="title">Average success rate</div>
            <div class="subtitle">Based on historical performance</div>
        </h1>

        <p class="green-text">{{vm.stateDetails.successRate}}%</p>
    </div>
    <hr/>
    <div class="overview-row">
        <h1>
            <div class="title">Money-back guarantee</div>
            <div class="subtitle">Full refund if we are unable to keep the ticket off your record</div>
        </h1>
        <p class="green-text"><i class="fa fa-check"></i></p>
    </div>
    <hr/>
    <div class="overview-row">
        <h1>
            <div class="title">No going to court</div>
        </h1>
        <p class="green-text">
            <i class="fa fa-university" style="color:#DDD;"></i>
        </p>
        <p class="green-text"></p>
    </div>
    <hr/>
    <div class="overview-row">
        <h1>
            <div class="title">No insurance increases</div>
        </h1>
        <p class="green-text" style="position:relative;">
            <i class="fa fa-lock" style="color:#DDD;"></i>
        </p>
        <p class="green-text"></p>
    </div>

    <hr style="display:block;min-width:90%;" />

    <div class="options-comparison">
        <h1>How much fighting this ticket could save you:</h1>
        <table>
            <tr>
                <td class="white-bg"></td>
                <td>Paying your ticket</td>
                <td>Fight it with Off the Record</td>
            </tr>
            <tr>
                <td>Fine</td>
                <td style="position:relative;">
                    <div class="ticket-fine">
                        <input type="text" id="ticketFine" class="inline-field red-text" ng-model="vm.ticketFine"
                                 ng-enter="vm.blurTicketFine()"
                                 text-input-description="average ticket fine"
                                 ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" />
                    </div>
                </td>
                <td>
                    $0 <span class="asterisk">*</span>
                    <div class="asterisk-text">* if case is dismissed</div>
                </td>
            </tr>
            <tr>
                <td>Legal fee</td>
                <td>$0</td>
                <td>
                    ${{vm.stateDetails.baseFee}} <i class="fa fa-question-circle" />
                    <div class="asterisk-text">rates may vary by county</div>
                </td>
            </tr>
            <tr>
                <td>Insurance increase</td>
                <td><div class="red-text">
                        ${{vm.insuranceIncrease}}
                        <a href="" class="edit-field-text" ng-click="vm.editInsuranceVariables()">edit your insurance info</a>
                    </div>
                </td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Point penalty</td>
                <td class="light-gray">N/A</td>
                <td class="light-gray">N/A</td>
            </tr>
            <tr>
                <td>Total cost</td>
                <td class="red-text">${{vm.totalTicketCost()}}</td>
                <td>${{vm.stateDetails.baseFee}} <span class="asterisk">*</span>
                    <div class="asterisk-text">* if case is dismissed</div>
                </td>
            </tr>
        </table>
    </div>

    <div class="overview-row" style="width: 100%;margin-top: -10px;max-width:inherit">
        <h1 class="savings-title">Total estimated savings:</h1>
        <div class="savings-result">
            <p class="large green-text" class="green-text">${{vm.totalSavings()}}</p>
            <div class="savings-timeframe">over the next 3 years</div>
        </div>
    </div>

    <br>
    <br>

    <button class="fight-my-ticket" ng-click="vm.fightTicketRedirect();">Fight My Ticket</button>
</div>
