
<div class="content-page">
    <div class="content-container text-center">
        <div class="content-header">
            <div class="content-background" ng-style="{ 'background-image': 'url({{vm.backgroundImgUrl}})' }"></div>
            <div class="fighting-text">traffic tickets in</div>
            <h1>{{vm.stateName}}</h1>
        </div>
        <div class="content-nav">
            <ul>
                <li class="nav-item" ng-class="{ active : vm.viewType == 'Overview' }" ng-click="vm.viewType = 'Overview'">Overview</li>
                <li class="nav-item" ng-class="{ active : vm.viewType == 'Fight' }" ng-click="vm.viewType = 'Fight'">Fight your ticket</li>
                <!--<li class="nav-item" ng-class="{ active : vm.viewType == 'FAQ' }" ng-click="vm.viewType = 'FAQ'">FAQ</li>-->
            </ul>
        </div>
        <div class="content-body" ng-if="vm.viewType == 'Overview'">
            <div class="left-nav">
                <div class="nav-title">Tickets & Violations</div>
                <ul>
                    <li><a ng-click="vm.scrollTo('fines-and-penalties')">Fines & penalties</a></li>
                    <li><a ng-click="vm.scrollTo('moving-violations')">Moving violations</a></li>
                    <li><a ng-click="vm.scrollTo('non-moving-violations')">Non-moving violations</a></li>
                    <li class="parent"><a ng-click="vm.scrollTo('response-options')">Responding to your ticket</a>
                        <ul>
                            <li><a ng-click="vm.scrollTo('pay')">Pay your ticket</a></li>
                            <li><a ng-click="vm.scrollTo('mitigate')">Mitigation hearing</a></li>
                            <li><a ng-click="vm.scrollTo('contest')">Contested hearing</a></li>
                        </ul>
                    </li>
                    <li><a ng-click="vm.scrollTo('ticket-deferral')">Ticket deferral</a></li>
                    <li><a ng-click="vm.scrollTo('hiring-attorney')">Hiring an attorney</a></li>
                </ul>

            </div>
            <div class="content-wrapper">
                <div class="content-section summary">
                    Depending on the type of WA traffic ticket you received, you can generally pay your ticket fines online, by mail, by phone, or in person. You can also fight your ticket or ask the court to reduce your fine. Be sure to respond to your traffic ticket within 15 days, or you could face additional penalties, such as a license suspension.
                </div>

                <div class="content-section" >
                    <h3 id="fines-and-penalties">Fines & penalties</h3>
                    <p>Traffic fines in Washington vary by court. If you do not pay on time, you will be charged additional late fees.
                        Refer to your traffic ticket to determine your exact ticket amount, deadlines, and penalties.</p>
                    <blockquote>Washington's Department of Licensing (DOL) does not operate under a driving record point system. However, there are penalties, including driver's license suspension and revocation, for repeat speeding tickets or other violations that exhibit a pattern of unsafe driving.
                        Too many traffic violations on your driving record or commit a major violation, your driver's license can be suspended.</blockquote>
                    <p>Some major violations include:
                    <ul>
                        <li>Reckless driving.</li>
                        <li>Driving under the influence (DUI) of drugs or alcohol.</li>
                        <li>Not carrying adequate car insurance.</li>
                    </ul>
                    </p>
                </div>

                <div class="content-section">
                    <h3 id="moving-violations">Moving violations</h3>
                    <p>A moving violation occurs whenever a traffic law is violated by a vehicle in motion. Some examples of moving violations are speeding, running a stop sign or red light, and drunk driving. A non-moving violation, by contrast, is usually related to parking or faulty equipment.</p>
                </div>

                <div class="content-section">
                    <h3 id="non-moving-violations">Non-moving violations</h3>
                    <p>Contrary to popular belief, non-moving violations are very often violations that occur when the car is moving. Examples of this are inattentive driving, driving while talking on a cell phone, and driving without a seat belt. What makes these violations “non-moving” isn’t what happens when they occur, but what the law says.</p>
                    <p>What separates the moving violation from the non-moving violation is the way it’s treated by the court and by the Department of Licensing (DOL). Whereas a speeding ticket is reported to the DOL, non-moving violations are not. And, in fact, some infractions are specifically ordered not to be reported to the DOL or to insurance companies.</p>
                </div>

                <div class="content-section">
                    <h3 id="response-options">Responding to your ticket</h3>
                    <p>There are three ways to respond to your traffic ticket:</p>
                    <ul>
                        <li>Pay the fine</li>
                        <li>Request a mitigation hearing</li>
                        <li>Request a contested hearing</li>
                    </ul>
                    <p>Regardless of plea, it must be entered before the ticket's due date. In most cases, this will general be about 15 days from the infraction date.</p>
                    <blockquote>The first two options are guilty pleas, while the third option, request a contested hearing, is another name for not guilty.</blockquote>

                    <div class="content-subsection">
                        <h3 id="pay">Pay the ticket</h3>
                        <p>Paying a WA traffic ticket is an admission of guilt.</p>
                        <p>This means:</p>
                        <ul>
                            <li>You are waiving your right to challenge the traffic ticket in court.</li>
                            <li>Depending on your WA driving record, the Department of Licensing (DOL) may suspend your Washington driver's license.</li>
                            <li>The traffic violation may cause an increase in your car insurance rates.</li>
                        </ul>
                    </div>

                    <div class="content-subsection">
                        <h3 id="mitigate">Request a mitigation hearing</h3>
                        <p>If you're guilty of the traffic violation, you have the option to request a mitigation hearing and have your fine reduced. Your mitigation hearing may result in, any of the following in lieu of paying the full original ticket fine:</p>
                        <ul>
                            <li>Fine reduction</li>
                            <li>Monthly payment plan</li>
                            <li>Community service</li>
                        </ul>
                        <blockquote>You CANNOT appeal the judge's decision in a mitigation hearing.</blockquote>
                        <p>Follow the instructions on your traffic ticket to request this hearing.</p>
                    </div>

                    <div class="content-subsection">
                        <h3 id="contest">Request a contested hearing</h3>
                        <p>If you want to plead “not guilty" to the violation, you can request a contested hearing at the relevant county court by checking the appropriate check box on your ticket and then mailing it in to the court. You can also contest it right on your phone by using the <a href="" ng-click="vm.goToFightView()">Off The Record</a> app.</p>

                        <blockquote>One in four tickets is issued in error, yet only 5% of drivers contest their traffic tickets..</blockquote>
                    </div>
                </div>

                <div class="content-section">
                    <h3 id="ticket-deferral">Ticket deferral</h3>
                    <p>In Washington, you may take advantage of the option to defer your ticket, which essentially removes the ticket from your driving record if you meet the following conditions:</p>
                    <ul>
                        <li>You pay an administrative fee equal to the ticket fine</li>
                        <li>You attend a traffic safety course</li>
                        <li>You avoid any traffic infractions for 1 year</li>
                    </ul>
                    <p>Failure to meet any one of the requirements will result in the court rescinding the ticket deferral.</p>
                    <blockquote>In Washington, you may take advantage of this option once every 7 years</blockquote>
                    <p><b>Note: </b>Most courts require deferral requests several days before the ticket's posted appearance date. Check with your traffic court.</p>
                </div>

                <div class="content-section">
                    <h3 id="hiring-attorney">Hiring an attorney</h3>
                    <p>Fighting your traffic ticket can help you avoid fines, license suspension, and increased insurance premiums. A traffic ticket attorney is a major asset in that fight. Typically, you can expect an attorney to: </p>
                    <ul>
                        <li>Request a contested hearing</li>
                        <li>Request discovery for your case</li>
                        <li>Represent you in court</li>
                        <li>Negotiate with the prosecutor to have your charges dropped or reduced</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content-body" ng-if="vm.viewType == 'Fight'">
            <h2 class="fight-title">Off The Record makes fighting your ticket easy and risk-free. </h2>
            <hr style="display:block;" class="gray-hr">
            <br>
            <div class="overview-row">
                <h1>
                    Average success rate
                    <div class="subtitle">Based on historical performance</div>
                </h1>

                <p class="green-text">{{vm.stateDetails.successRate}}%</p>
            </div>
            <hr/>
            <div class="overview-row">
                <h1>Cost to fight</h1>
                <p class="large">${{vm.stateDetails.baseFee}}</p>
            </div>
            <hr/>
            <div class="overview-row">
                <h1>Money-back guarantee</h1>
                <p class="green-text"><i class="fa fa-check"></i></p>
            </div>

            <div style="width:100%;margin-top:-20px;float:left;text-align:center;">
                <button class="fight-my-ticket" ng-click="vm.fightTicketRedirect();">Fight My Ticket</button>
            </div>

            <div class="options-comparison">
                <h1>How much fighting your ticket could save you:</h1>
                <table>
                    <tr>
                        <td class="white-bg"></td>
                        <td>Pay your ticket</td>
                        <td>Fight it with Off the Record</td>
                    </tr>
                    <tr>
                        <td>Fine</td>
                        <td>${{vm.stateDetails.avgFine}} (average)</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td>Legal fee</td>
                        <td>$0</td>
                        <td>${{vm.stateDetails.baseFee}}</td>
                    </tr>
                    <tr>
                        <td>Insurance penalty</td>
                        <td>$540 - $1,800</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td>Point penalty</td>
                        <td class="light-gray">N/A</td>
                        <td class="light-gray">N/A</td>
                    </tr>
                    <tr>
                        <td>Total cost</td>
                        <td>${{540 + vm.stateDetails.avgFine}} - ${{1800 + vm.stateDetails.avgFine}}</td>
                        <td>${{vm.stateDetails.baseFee}}</td>
                    </tr>
                </table>
            </div>

            <div class="overview-row" style="width: 100%;margin-top: -10px;max-width:inherit">
                <h1 style="width: 50%;line-height: 50px;">Total estimated savings:</h1>
                <div style="width:50%;float:left;">
                    <p class="large" style="float:left;width:100%;" class="green-text">${{540 + vm.stateDetails.avgFine - vm.stateDetails.baseFee}} - {{1800 + vm.stateDetails.avgFine - vm.stateDetails.baseFee}}</p>
                    <div style="font-size: 25px;margin-top:-10px">over the next 3 years</div>
                </div>
            </div>
        </div>

        <div class="content-body" ng-if="vm.viewType == 'FAQ'">
            <div class="overview-row">
                <h1>Off The Record currently covers the following {{vm.stateName}} courts:</h1>
            </div>
        </div>
    </div>
</div>


<style>
    .content-body {
        font-size: 14px;
    }
    .content-body .left-nav {
        background-color: rgba(58, 165, 240, 0.15);
        padding: 20px;
        width: 240px;
        text-align: left;
        float: left;
    }
    .content-body .left-nav.fixed {
        position: fixed;
        left: 0;
    }
    .content-body .left-nav ul {
        padding-left: 10px;
    }
    .content-body .left-nav .nav-title {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 7px;
        font-size: 15px;
    }
    .content-body .left-nav ul li {
        list-style: none;
        line-height: 32px;
        cursor: pointer;
    }
    .content-body .left-nav ul li:not(.parent):hover {
        color: #1ab5ff;
    }
    .content-body .content-wrapper {
        float: left;
        width: calc(100% - 240px);
        padding: 0px 40px;
        margin-bottom: 70px;
        text-align: left;
    }
    .content-body .content-section {
        padding: 10px 0px 10px 0px;
        font-size: 15px;
    }
    .content-body .content-section.summary {
        border: solid 1px rgba(0, 100, 146, 0.27);
        text-align: center;
        font-size: 17px;
        padding: 20px;
    }
    .content-body .content-section h3 {
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        color: #333;
    }
    .content-body hr.gray-hr {
        border: 0;
        height: 1px;
        background: #eee;
        max-width: inherit;
    }
    .content-body h2.fight-title {
        margin-top: 0;
        color: #999
    }
    .content-body .content-section blockquote {
        background: none repeat scroll 0 0 #FCFCFC;
        border-left: 4px solid rgb(195, 217, 44);
        margin: 0 3em;
        font-size: 15px;
        padding: 10px 0 7px 15px;
        margin-bottom: 10px;
        text-align: left;
    }
    .content-body .content-section .content-subsection {
        margin-left: 35px;
        padding-top: 10px;
    }
    .content-body .content-section .content-subsection h3 {
        text-transform: initial;
        font-size: 22px;
    }

</style>