
<div class="content-page">
    <div class="content-container text-center">
        <div class="content-header">
            <div class="content-background" ng-style="{ 'background-image': 'url({{vm.backgroundImgUrl}})' }"></div>
            <div class="fighting-text">traffic tickets in</div>
            <h1>{{vm.stateName}}</h1>
        </div>
        <div class="content-nav">
            <ul>
                <li class="nav-item" ui-sref-active="active" ui-sref="default-template.state-info.overview">Overview</li>
                <li class="nav-item" ui-sref-active="active" ui-sref="default-template.state-info.fight">Fight your ticket</li>
                <!--<li class="nav-item" ng-class="{ active : vm.viewType == 'FAQ' }" ng-click="vm.viewType = 'FAQ'">FAQ</li>-->
            </ul>
        </div>
         <ui-view />
    </div>
</div>


<script type="text/ng-template" id="updateInsurancePremium.html">
    <div class="edit-insurance-info">
        <div class="modal-row">
            <div>What is your monthly insurance premium?</div>
            <div>
                <span class="dollar-sign">$</span>
                <input type="text" id="monthlyPremium" class="inline-field dollar-value" ng-model="monthlyPremium"
                       ng-enter="ok()" />
            </div>
        </div>
        <div class="modal-row">
            <div>What violation did you get cited for?</div>
            <div>
                <select id="violationDropdown" ng-model="selectedViolation"
                        ng-options="violation.value as violation.name for violation in violationOptions">
                </select>
            </div>
        </div>
        <button class="modal-button" ng-click="ok()">update</button>
    </div>
</script>
