
<div class="content-page">
    <div class="content-container text-center">
        <div class="content-header">
            <div class="content-background" ng-style="{ 'background-image': 'url({{vm.backgroundImgUrl}})' }"></div>
            <div class="fighting-text">fighting your ticket in</div>
            <h1>{{vm.stateName}}</h1>
        </div>
        <div class="content-nav">
            <ul>
                <li class="nav-item" ng-class="{ active : vm.viewType == 'Overview' }" ng-click="vm.viewType = 'Overview'">Overview</li>
                <li class="nav-item" ng-class="{ active : vm.viewType == 'Coverage' }" ng-click="vm.viewType = 'Coverage'">Coverage</li>
            </ul>
        </div>
        <div class="content-body" ng-if="vm.viewType == 'Overview'">
            <div class="overview-row">
                <h1>
                    Average success rate
                    <div class="subtitle">Based on previous experience</div>
                </h1>

                <p>{{vm.stateDetails.successRate}}%</p>
            </div>
            <hr/>
            <div class="overview-row">
                <h1>Cost to fight</h1>
                <p>${{vm.stateDetails.baseFee}}</p>
            </div>
            <hr/>
            <div class="overview-row">
                <h1>Money-back guarantee</h1>
                <p><i class="fa fa-check"></i></p>
            </div>

            <div class="options-comparison">
                <h1>How much you could save by fighting your ticket:</h1>
                <table>
                    <tr>
                        <td class="white-bg"></td>
                        <td>Pay your ticket</td>
                        <td>Fight with Off the Record</td>
                    </tr>
                    <tr>
                        <td>Fine</td>
                        <td>${{vm.stateDetails.avgFine}} (average)</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td>Legal fee</td>
                        <td>$0</td>
                        <td>${{vm.stateDetails.baseFee}}</td>
                    </tr>
                    <tr>
                        <td>Insurance penalty</td>
                        <td>$540 - $1,800</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td>Point penalty</td>
                        <td class="light-gray">N/A</td>
                        <td class="light-gray">N/A</td>
                    </tr>
                    <tr>
                        <td>Total cost</td>
                        <td>${{540 + vm.stateDetails.avgFine}} - ${{1800 + vm.stateDetails.avgFine}}</td>
                        <td>${{vm.stateDetails.baseFee}}</td>
                    </tr>
                </table>
            </div>

            <div class="overview-row" style="width: 100%;margin-top: -10px;max-width:inherit">
                <h1 style="width: 50%;line-height: 50px;">Total estimated savings:</h1>
                <div style="width:50%;float:left;">
                    <p style="float:left;width:100%;">${{540 + vm.stateDetails.avgFine - vm.stateDetails.baseFee}} - {{1800 + vm.stateDetails.avgFine - vm.stateDetails.baseFee}}</p>
                    <div style="font-size: 25px;margin-top:-10px">over the next 3 years</div>
                </div>
            </div>

            <button class="fight-my-ticket" ng-click="vm.fightTicketRedirect();">Fight My Ticket</button>
        </div>

        <div class="content-body" ng-if="vm.viewType == 'Coverage'">
            <div class="overview-row">
                <h1>Off The Record currently covers the following {{vm.stateName}} courts:</h1>
            </div>
        </div>
    </div>
</div>

